/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ServerRegistrationProfileAPIService ServerRegistrationProfileAPI service
type ServerRegistrationProfileAPIService service

type ServerRegistrationProfileAPICreateServerRegistrationProfileRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	serverRegistrationProfileCreate *ServerRegistrationProfileCreate
}

// The Server Registration Profile create object
func (r ServerRegistrationProfileAPICreateServerRegistrationProfileRequest) ServerRegistrationProfileCreate(serverRegistrationProfileCreate ServerRegistrationProfileCreate) ServerRegistrationProfileAPICreateServerRegistrationProfileRequest {
	r.serverRegistrationProfileCreate = &serverRegistrationProfileCreate
	return r
}

func (r ServerRegistrationProfileAPICreateServerRegistrationProfileRequest) Execute() (*ServerRegistrationProfile, *http.Response, error) {
	return r.ApiService.CreateServerRegistrationProfileExecute(r)
}

/*
CreateServerRegistrationProfile Creates a Server Registration Profile

Creates a Server Registration Profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ServerRegistrationProfileAPICreateServerRegistrationProfileRequest
*/
func (a *ServerRegistrationProfileAPIService) CreateServerRegistrationProfile(ctx context.Context) ServerRegistrationProfileAPICreateServerRegistrationProfileRequest {
	return ServerRegistrationProfileAPICreateServerRegistrationProfileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfile
func (a *ServerRegistrationProfileAPIService) CreateServerRegistrationProfileExecute(r ServerRegistrationProfileAPICreateServerRegistrationProfileRequest) (*ServerRegistrationProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.CreateServerRegistrationProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serverRegistrationProfileCreate == nil {
		return localVarReturnValue, nil, reportError("serverRegistrationProfileCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.serverRegistrationProfileCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	serverRegistrationProfileId float32
	ifMatch *string
}

// Entity tag
func (r ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest) IfMatch(ifMatch string) ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteServerRegistrationProfileExecute(r)
}

/*
DeleteServerRegistrationProfile Deletes a Server Registration Profile

Deletes a Server Registration Profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverRegistrationProfileId
 @return ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest
*/
func (a *ServerRegistrationProfileAPIService) DeleteServerRegistrationProfile(ctx context.Context, serverRegistrationProfileId float32) ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest {
	return ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest{
		ApiService: a,
		ctx: ctx,
		serverRegistrationProfileId: serverRegistrationProfileId,
	}
}

// Execute executes the request
func (a *ServerRegistrationProfileAPIService) DeleteServerRegistrationProfileExecute(r ServerRegistrationProfileAPIDeleteServerRegistrationProfileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.DeleteServerRegistrationProfile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles/{serverRegistrationProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverRegistrationProfileId"+"}", url.PathEscape(parameterValueToString(r.serverRegistrationProfileId, "serverRegistrationProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	serverRegistrationProfileId float32
}

func (r ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest) Execute() (*ServerRegistrationProfile, *http.Response, error) {
	return r.ApiService.GetServerRegistrationProfileInfoExecute(r)
}

/*
GetServerRegistrationProfileInfo Get Server Registration Profile information

Returns Server Registration Profile information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverRegistrationProfileId
 @return ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest
*/
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfileInfo(ctx context.Context, serverRegistrationProfileId float32) ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest {
	return ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest{
		ApiService: a,
		ctx: ctx,
		serverRegistrationProfileId: serverRegistrationProfileId,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfile
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfileInfoExecute(r ServerRegistrationProfileAPIGetServerRegistrationProfileInfoRequest) (*ServerRegistrationProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.GetServerRegistrationProfileInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles/{serverRegistrationProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverRegistrationProfileId"+"}", url.PathEscape(parameterValueToString(r.serverRegistrationProfileId, "serverRegistrationProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	serverId float32
}

func (r ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest) Execute() (*ServerRegistrationProfile, *http.Response, error) {
	return r.ApiService.GetServerRegistrationProfileInfoForServerExecute(r)
}

/*
GetServerRegistrationProfileInfoForServer Get Server Registration Profile information for specific server

Returns Server Registration Profile information for specific server

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest
*/
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfileInfoForServer(ctx context.Context, serverId float32) ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest {
	return ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfile
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfileInfoForServerExecute(r ServerRegistrationProfileAPIGetServerRegistrationProfileInfoForServerRequest) (*ServerRegistrationProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.GetServerRegistrationProfileInfoForServer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles/search/for-server/{serverId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	page *float32
	limit *float32
	filterName *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) Page(page float32) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) Limit(limit float32) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.limit = &limit
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) FilterName(filterName []string) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.filterName = &filterName
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name 
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) SortBy(sortBy []string) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) Search(search string) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,name   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - name 
func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) SearchBy(searchBy []string) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	r.searchBy = &searchBy
	return r
}

func (r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) Execute() (*ServerRegistrationProfilePaginatedList, *http.Response, error) {
	return r.ApiService.GetServerRegistrationProfilesExecute(r)
}

/*
GetServerRegistrationProfiles Get a list of Server Registration Profiles

Returns a list of Server Registration Profiles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest
*/
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfiles(ctx context.Context) ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest {
	return ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfilePaginatedList
func (a *ServerRegistrationProfileAPIService) GetServerRegistrationProfilesExecute(r ServerRegistrationProfileAPIGetServerRegistrationProfilesRequest) (*ServerRegistrationProfilePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfilePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.GetServerRegistrationProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	siteId *float32
}

func (r ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest) SiteId(siteId float32) ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest {
	r.siteId = &siteId
	return r
}

func (r ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest) Execute() (*ServerRegistrationProfile, *http.Response, error) {
	return r.ApiService.SearchServerRegistrationProfileInfoExecute(r)
}

/*
SearchServerRegistrationProfileInfo Search for a Server Registration Profile by data to match

Search for a Server Registration Profile information by data to match

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest
*/
func (a *ServerRegistrationProfileAPIService) SearchServerRegistrationProfileInfo(ctx context.Context) ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest {
	return ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfile
func (a *ServerRegistrationProfileAPIService) SearchServerRegistrationProfileInfoExecute(r ServerRegistrationProfileAPISearchServerRegistrationProfileInfoRequest) (*ServerRegistrationProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.SearchServerRegistrationProfileInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.siteId == nil {
		return localVarReturnValue, nil, reportError("siteId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest struct {
	ctx context.Context
	ApiService *ServerRegistrationProfileAPIService
	serverRegistrationProfileId float32
	serverRegistrationProfileUpdate *ServerRegistrationProfileUpdate
	ifMatch *string
}

// The Server Registration Profile update object
func (r ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest) ServerRegistrationProfileUpdate(serverRegistrationProfileUpdate ServerRegistrationProfileUpdate) ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest {
	r.serverRegistrationProfileUpdate = &serverRegistrationProfileUpdate
	return r
}

// Entity tag
func (r ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest) IfMatch(ifMatch string) ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest) Execute() (*ServerRegistrationProfile, *http.Response, error) {
	return r.ApiService.UpdateServerRegistrationProfileExecute(r)
}

/*
UpdateServerRegistrationProfile Updates a Server Registration Profile

Updates a Server Registration Profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverRegistrationProfileId
 @return ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest
*/
func (a *ServerRegistrationProfileAPIService) UpdateServerRegistrationProfile(ctx context.Context, serverRegistrationProfileId float32) ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest {
	return ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest{
		ApiService: a,
		ctx: ctx,
		serverRegistrationProfileId: serverRegistrationProfileId,
	}
}

// Execute executes the request
//  @return ServerRegistrationProfile
func (a *ServerRegistrationProfileAPIService) UpdateServerRegistrationProfileExecute(r ServerRegistrationProfileAPIUpdateServerRegistrationProfileRequest) (*ServerRegistrationProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerRegistrationProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServerRegistrationProfileAPIService.UpdateServerRegistrationProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/servers/registration-profiles/{serverRegistrationProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverRegistrationProfileId"+"}", url.PathEscape(parameterValueToString(r.serverRegistrationProfileId, "serverRegistrationProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serverRegistrationProfileUpdate == nil {
		return localVarReturnValue, nil, reportError("serverRegistrationProfileUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.serverRegistrationProfileUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
