/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// VMPoolAPIService VMPoolAPI service
type VMPoolAPIService service

type VMPoolAPICreateVMPoolRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	createVMPool *CreateVMPool
}

// The VM Pool create object
func (r VMPoolAPICreateVMPoolRequest) CreateVMPool(createVMPool CreateVMPool) VMPoolAPICreateVMPoolRequest {
	r.createVMPool = &createVMPool
	return r
}

func (r VMPoolAPICreateVMPoolRequest) Execute() (*VMPool, *http.Response, error) {
	return r.ApiService.CreateVMPoolExecute(r)
}

/*
CreateVMPool Creates a VM Pool

Creates a VM Pool

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VMPoolAPICreateVMPoolRequest
*/
func (a *VMPoolAPIService) CreateVMPool(ctx context.Context) VMPoolAPICreateVMPoolRequest {
	return VMPoolAPICreateVMPoolRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VMPool
func (a *VMPoolAPIService) CreateVMPoolExecute(r VMPoolAPICreateVMPoolRequest) (*VMPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.CreateVMPool")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createVMPool == nil {
		return localVarReturnValue, nil, reportError("createVMPool is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createVMPool
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	vmPoolClusterHostInterfaceId int64
	createVMPoolHostInterfaceNetworkDevice *CreateVMPoolHostInterfaceNetworkDevice
}

// Network device assignment create object
func (r VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest) CreateVMPoolHostInterfaceNetworkDevice(createVMPoolHostInterfaceNetworkDevice CreateVMPoolHostInterfaceNetworkDevice) VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest {
	r.createVMPoolHostInterfaceNetworkDevice = &createVMPoolHostInterfaceNetworkDevice
	return r
}

func (r VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest) Execute() (*VMPoolHostInterfaceNetworkDevice, *http.Response, error) {
	return r.ApiService.CreateVMPoolClusterHostInterfaceNetworkDeviceExecute(r)
}

/*
CreateVMPoolClusterHostInterfaceNetworkDevice Create a network device assignment for a VM Cluster Host Interface

Creates a new network device assignment for a VM Cluster Host Interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @param vmPoolClusterHostInterfaceId
 @return VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest
*/
func (a *VMPoolAPIService) CreateVMPoolClusterHostInterfaceNetworkDevice(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64, vmPoolClusterHostInterfaceId int64) VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest {
	return VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
		vmPoolClusterHostInterfaceId: vmPoolClusterHostInterfaceId,
	}
}

// Execute executes the request
//  @return VMPoolHostInterfaceNetworkDevice
func (a *VMPoolAPIService) CreateVMPoolClusterHostInterfaceNetworkDeviceExecute(r VMPoolAPICreateVMPoolClusterHostInterfaceNetworkDeviceRequest) (*VMPoolHostInterfaceNetworkDevice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHostInterfaceNetworkDevice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.CreateVMPoolClusterHostInterfaceNetworkDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces/{vmPoolClusterHostInterfaceId}/network-devices"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostInterfaceId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostInterfaceId, "vmPoolClusterHostInterfaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createVMPoolHostInterfaceNetworkDevice == nil {
		return localVarReturnValue, nil, reportError("createVMPoolHostInterfaceNetworkDevice is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createVMPoolHostInterfaceNetworkDevice
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIDeleteVMPoolRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
}

func (r VMPoolAPIDeleteVMPoolRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteVMPoolExecute(r)
}

/*
DeleteVMPool Deletes a VM Pool

Deletes a VM Pool

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @return VMPoolAPIDeleteVMPoolRequest
*/
func (a *VMPoolAPIService) DeleteVMPool(ctx context.Context, vmPoolId int64) VMPoolAPIDeleteVMPoolRequest {
	return VMPoolAPIDeleteVMPoolRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
	}
}

// Execute executes the request
func (a *VMPoolAPIService) DeleteVMPoolExecute(r VMPoolAPIDeleteVMPoolRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.DeleteVMPool")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	vmPoolClusterHostInterfaceId int64
	networkDeviceAssignmentId int64
}

func (r VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteVMPoolClusterHostInterfaceNetworkDeviceExecute(r)
}

/*
DeleteVMPoolClusterHostInterfaceNetworkDevice Delete a network device assignment for a VM Cluster Host Interface

Deletes a network device assignment for a VM Cluster Host Interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @param vmPoolClusterHostInterfaceId
 @param networkDeviceAssignmentId
 @return VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest
*/
func (a *VMPoolAPIService) DeleteVMPoolClusterHostInterfaceNetworkDevice(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64, vmPoolClusterHostInterfaceId int64, networkDeviceAssignmentId int64) VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest {
	return VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
		vmPoolClusterHostInterfaceId: vmPoolClusterHostInterfaceId,
		networkDeviceAssignmentId: networkDeviceAssignmentId,
	}
}

// Execute executes the request
func (a *VMPoolAPIService) DeleteVMPoolClusterHostInterfaceNetworkDeviceExecute(r VMPoolAPIDeleteVMPoolClusterHostInterfaceNetworkDeviceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.DeleteVMPoolClusterHostInterfaceNetworkDevice")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces/{vmPoolClusterHostInterfaceId}/network-devices/{networkDeviceAssignmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostInterfaceId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostInterfaceId, "vmPoolClusterHostInterfaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceAssignmentId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceAssignmentId, "networkDeviceAssignmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId float32
}

func (r VMPoolAPIGetVMPoolRequest) Execute() (*VMPool, *http.Response, error) {
	return r.ApiService.GetVMPoolExecute(r)
}

/*
GetVMPool Get VM Pool information

Returns VM Pool information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @return VMPoolAPIGetVMPoolRequest
*/
func (a *VMPoolAPIService) GetVMPool(ctx context.Context, vmPoolId float32) VMPoolAPIGetVMPoolRequest {
	return VMPoolAPIGetVMPoolRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
	}
}

// Execute executes the request
//  @return VMPool
func (a *VMPoolAPIService) GetVMPoolExecute(r VMPoolAPIGetVMPoolRequest) (*VMPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPool")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
}

func (r VMPoolAPIGetVMPoolClusterHostRequest) Execute() (*VMPoolHosts, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostExecute(r)
}

/*
GetVMPoolClusterHost Retrieves a VM Cluster Host

Returns a VM Cluster Host

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @return VMPoolAPIGetVMPoolClusterHostRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHost(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64) VMPoolAPIGetVMPoolClusterHostRequest {
	return VMPoolAPIGetVMPoolClusterHostRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
	}
}

// Execute executes the request
//  @return VMPoolHosts
func (a *VMPoolAPIService) GetVMPoolClusterHostExecute(r VMPoolAPIGetVMPoolClusterHostRequest) (*VMPoolHosts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHosts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostInterfaceRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	vmPoolClusterHostInterfaceId int64
}

func (r VMPoolAPIGetVMPoolClusterHostInterfaceRequest) Execute() (*VMPoolHostInterfaces, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostInterfaceExecute(r)
}

/*
GetVMPoolClusterHostInterface Retrieves a VM Cluster Host Interface

Returns a VM Cluster Host Interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @param vmPoolClusterHostInterfaceId
 @return VMPoolAPIGetVMPoolClusterHostInterfaceRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostInterface(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64, vmPoolClusterHostInterfaceId int64) VMPoolAPIGetVMPoolClusterHostInterfaceRequest {
	return VMPoolAPIGetVMPoolClusterHostInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
		vmPoolClusterHostInterfaceId: vmPoolClusterHostInterfaceId,
	}
}

// Execute executes the request
//  @return VMPoolHostInterfaces
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaceExecute(r VMPoolAPIGetVMPoolClusterHostInterfaceRequest) (*VMPoolHostInterfaces, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHostInterfaces
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostInterface")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces/{vmPoolClusterHostInterfaceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostInterfaceId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostInterfaceId, "vmPoolClusterHostInterfaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	vmPoolClusterHostInterfaceId int64
	networkDeviceAssignmentId int64
}

func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest) Execute() (*VMPoolHostInterfaceNetworkDevice, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostInterfaceNetworkDeviceExecute(r)
}

/*
GetVMPoolClusterHostInterfaceNetworkDevice Get a network device assignment for a VM Cluster Host Interface

Returns a network device assignment for a VM Cluster Host Interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @param vmPoolClusterHostInterfaceId
 @param networkDeviceAssignmentId
 @return VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaceNetworkDevice(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64, vmPoolClusterHostInterfaceId int64, networkDeviceAssignmentId int64) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest {
	return VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
		vmPoolClusterHostInterfaceId: vmPoolClusterHostInterfaceId,
		networkDeviceAssignmentId: networkDeviceAssignmentId,
	}
}

// Execute executes the request
//  @return VMPoolHostInterfaceNetworkDevice
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaceNetworkDeviceExecute(r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDeviceRequest) (*VMPoolHostInterfaceNetworkDevice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHostInterfaceNetworkDevice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostInterfaceNetworkDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces/{vmPoolClusterHostInterfaceId}/network-devices/{networkDeviceAssignmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostInterfaceId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostInterfaceId, "vmPoolClusterHostInterfaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceAssignmentId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceAssignmentId, "networkDeviceAssignmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	vmPoolClusterHostInterfaceId int64
	page *float32
	limit *float32
	filterId *[]string
	filterNetworkDeviceId *[]string
	sortBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) Page(page float32) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) Limit(limit float32) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) FilterId(filterId []string) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	r.filterId = &filterId
	return r
}

// Filter by networkDeviceId query param.  **Format:** filter.networkDeviceId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceId&#x3D;$btw:John Doe&amp;filter.networkDeviceId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) FilterNetworkDeviceId(filterNetworkDeviceId []string) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	r.filterNetworkDeviceId = &filterNetworkDeviceId
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;networkDeviceId:DESC   **Default Value:** id:ASC  **Available Fields** - id  - networkDeviceId 
func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) SortBy(sortBy []string) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	r.sortBy = &sortBy
	return r
}

func (r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) Execute() (*VMPoolHostInterfaceNetworkDevicesPaginatedList, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostInterfaceNetworkDevicesExecute(r)
}

/*
GetVMPoolClusterHostInterfaceNetworkDevices Get network device assignments for a VM Cluster Host Interface

Returns list of network device assignments for a VM Cluster Host Interface

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @param vmPoolClusterHostInterfaceId
 @return VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaceNetworkDevices(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64, vmPoolClusterHostInterfaceId int64) VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest {
	return VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
		vmPoolClusterHostInterfaceId: vmPoolClusterHostInterfaceId,
	}
}

// Execute executes the request
//  @return VMPoolHostInterfaceNetworkDevicesPaginatedList
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaceNetworkDevicesExecute(r VMPoolAPIGetVMPoolClusterHostInterfaceNetworkDevicesRequest) (*VMPoolHostInterfaceNetworkDevicesPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHostInterfaceNetworkDevicesPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostInterfaceNetworkDevices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces/{vmPoolClusterHostInterfaceId}/network-devices"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostInterfaceId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostInterfaceId, "vmPoolClusterHostInterfaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceId != nil {
		t := *r.filterNetworkDeviceId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceId", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostInterfacesRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
}

func (r VMPoolAPIGetVMPoolClusterHostInterfacesRequest) Execute() ([]VMPoolHostInterfaces, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostInterfacesExecute(r)
}

/*
GetVMPoolClusterHostInterfaces Retrieves a list of VM Cluster Host Interfaces

Returns a list of VM Cluster Host Interfaces

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @return VMPoolAPIGetVMPoolClusterHostInterfacesRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfaces(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64) VMPoolAPIGetVMPoolClusterHostInterfacesRequest {
	return VMPoolAPIGetVMPoolClusterHostInterfacesRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
	}
}

// Execute executes the request
//  @return []VMPoolHostInterfaces
func (a *VMPoolAPIService) GetVMPoolClusterHostInterfacesExecute(r VMPoolAPIGetVMPoolClusterHostInterfacesRequest) ([]VMPoolHostInterfaces, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []VMPoolHostInterfaces
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostInterfaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/interfaces"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostStatisticsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
}

func (r VMPoolAPIGetVMPoolClusterHostStatisticsRequest) Execute() (*VMPoolStatistics, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostStatisticsExecute(r)
}

/*
GetVMPoolClusterHostStatistics Retrieves VM Cluster Host Statistics

Returns VM Cluster Host Statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @return VMPoolAPIGetVMPoolClusterHostStatisticsRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostStatistics(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64) VMPoolAPIGetVMPoolClusterHostStatisticsRequest {
	return VMPoolAPIGetVMPoolClusterHostStatisticsRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
	}
}

// Execute executes the request
//  @return VMPoolStatistics
func (a *VMPoolAPIService) GetVMPoolClusterHostStatisticsExecute(r VMPoolAPIGetVMPoolClusterHostStatisticsRequest) (*VMPoolStatistics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolStatistics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/statistics"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostVMsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	vmPoolClusterHostId int64
	page *float32
	limit *float32
	filterId *[]string
	filterSiteId *[]string
	filterName *[]string
	filterAddress *[]string
	filterHost *[]string
	filterHosts *[]string
	filterTypeId *[]string
	filterPoolId *[]string
	filterAdministrationState *[]string
	filterNumaNodes *[]string
	filterInfrastructureId *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) Page(page float32) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) Limit(limit float32) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterId(filterId []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterId = &filterId
	return r
}

// Filter by siteId query param.  **Format:** filter.siteId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.siteId&#x3D;$btw:John Doe&amp;filter.siteId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterSiteId(filterSiteId []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterSiteId = &filterSiteId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterName(filterName []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterName = &filterName
	return r
}

// Filter by address query param.  **Format:** filter.address&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.address&#x3D;$btw:John Doe&amp;filter.address&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterAddress(filterAddress []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterAddress = &filterAddress
	return r
}

// Filter by host query param.  **Format:** filter.host&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.host&#x3D;$btw:John Doe&amp;filter.host&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterHost(filterHost []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterHost = &filterHost
	return r
}

// Filter by hosts query param.  **Format:** filter.hosts&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.hosts&#x3D;$btw:John Doe&amp;filter.hosts&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterHosts(filterHosts []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterHosts = &filterHosts
	return r
}

// Filter by typeId query param.  **Format:** filter.typeId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.typeId&#x3D;$btw:John Doe&amp;filter.typeId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterTypeId(filterTypeId []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterTypeId = &filterTypeId
	return r
}

// Filter by poolId query param.  **Format:** filter.poolId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.poolId&#x3D;$btw:John Doe&amp;filter.poolId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterPoolId(filterPoolId []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterPoolId = &filterPoolId
	return r
}

// Filter by administrationState query param.  **Format:** filter.administrationState&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.administrationState&#x3D;$btw:John Doe&amp;filter.administrationState&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterAdministrationState(filterAdministrationState []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterAdministrationState = &filterAdministrationState
	return r
}

// Filter by numaNodes query param.  **Format:** filter.numaNodes&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.numaNodes&#x3D;$btw:John Doe&amp;filter.numaNodes&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterNumaNodes(filterNumaNodes []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterNumaNodes = &filterNumaNodes
	return r
}

// Filter by infrastructureId query param.  **Format:** filter.infrastructureId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.infrastructureId&#x3D;$btw:John Doe&amp;filter.infrastructureId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) FilterInfrastructureId(filterInfrastructureId []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.filterInfrastructureId = &filterInfrastructureId
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name  - host  - administrationState 
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) SortBy(sortBy []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) Search(search string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,name,host,hosts,administrationState   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - name  - host  - hosts  - administrationState 
func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) SearchBy(searchBy []string) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	r.searchBy = &searchBy
	return r
}

func (r VMPoolAPIGetVMPoolClusterHostVMsRequest) Execute() (*VMPaginatedList, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostVMsExecute(r)
}

/*
GetVMPoolClusterHostVMs Retrieves a list of VM Cluster Host VMs

Returns a list of VM Cluster Host VMs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @param vmPoolClusterHostId
 @return VMPoolAPIGetVMPoolClusterHostVMsRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHostVMs(ctx context.Context, vmPoolId int64, vmPoolClusterHostId int64) VMPoolAPIGetVMPoolClusterHostVMsRequest {
	return VMPoolAPIGetVMPoolClusterHostVMsRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
		vmPoolClusterHostId: vmPoolClusterHostId,
	}
}

// Execute executes the request
//  @return VMPaginatedList
func (a *VMPoolAPIService) GetVMPoolClusterHostVMsExecute(r VMPoolAPIGetVMPoolClusterHostVMsRequest) (*VMPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHostVMs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts/{vmPoolClusterHostId}/vms"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolClusterHostId"+"}", url.PathEscape(parameterValueToString(r.vmPoolClusterHostId, "vmPoolClusterHostId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterSiteId != nil {
		t := *r.filterSiteId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterAddress != nil {
		t := *r.filterAddress
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", t, "form", "multi")
		}
	}
	if r.filterHost != nil {
		t := *r.filterHost
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.host", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.host", t, "form", "multi")
		}
	}
	if r.filterHosts != nil {
		t := *r.filterHosts
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.hosts", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.hosts", t, "form", "multi")
		}
	}
	if r.filterTypeId != nil {
		t := *r.filterTypeId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.typeId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.typeId", t, "form", "multi")
		}
	}
	if r.filterPoolId != nil {
		t := *r.filterPoolId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.poolId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.poolId", t, "form", "multi")
		}
	}
	if r.filterAdministrationState != nil {
		t := *r.filterAdministrationState
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.administrationState", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.administrationState", t, "form", "multi")
		}
	}
	if r.filterNumaNodes != nil {
		t := *r.filterNumaNodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.numaNodes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.numaNodes", t, "form", "multi")
		}
	}
	if r.filterInfrastructureId != nil {
		t := *r.filterInfrastructureId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolClusterHostsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	page *float32
	limit *float32
	filterId *[]string
	filterName *[]string
	filterAddress *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r VMPoolAPIGetVMPoolClusterHostsRequest) Page(page float32) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r VMPoolAPIGetVMPoolClusterHostsRequest) Limit(limit float32) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostsRequest) FilterId(filterId []string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.filterId = &filterId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostsRequest) FilterName(filterName []string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.filterName = &filterName
	return r
}

// Filter by address query param.  **Format:** filter.address&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.address&#x3D;$btw:John Doe&amp;filter.address&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolClusterHostsRequest) FilterAddress(filterAddress []string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.filterAddress = &filterAddress
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name 
func (r VMPoolAPIGetVMPoolClusterHostsRequest) SortBy(sortBy []string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r VMPoolAPIGetVMPoolClusterHostsRequest) Search(search string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** name   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - name 
func (r VMPoolAPIGetVMPoolClusterHostsRequest) SearchBy(searchBy []string) VMPoolAPIGetVMPoolClusterHostsRequest {
	r.searchBy = &searchBy
	return r
}

func (r VMPoolAPIGetVMPoolClusterHostsRequest) Execute() (*VMPoolHostsPaginatedList, *http.Response, error) {
	return r.ApiService.GetVMPoolClusterHostsExecute(r)
}

/*
GetVMPoolClusterHosts Get list of VM Cluster Hosts linked to the VM Pool

Returns list of VM Cluster Hosts linked to the VM Pool

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @return VMPoolAPIGetVMPoolClusterHostsRequest
*/
func (a *VMPoolAPIService) GetVMPoolClusterHosts(ctx context.Context, vmPoolId int64) VMPoolAPIGetVMPoolClusterHostsRequest {
	return VMPoolAPIGetVMPoolClusterHostsRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
	}
}

// Execute executes the request
//  @return VMPoolHostsPaginatedList
func (a *VMPoolAPIService) GetVMPoolClusterHostsExecute(r VMPoolAPIGetVMPoolClusterHostsRequest) (*VMPoolHostsPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolHostsPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolClusterHosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/cluster-hosts"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterAddress != nil {
		t := *r.filterAddress
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolCredentialsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
}

func (r VMPoolAPIGetVMPoolCredentialsRequest) Execute() (*VMPoolCredentials, *http.Response, error) {
	return r.ApiService.GetVMPoolCredentialsExecute(r)
}

/*
GetVMPoolCredentials Get VM Pool credentials

Returns VM Pool credentials

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @return VMPoolAPIGetVMPoolCredentialsRequest
*/
func (a *VMPoolAPIService) GetVMPoolCredentials(ctx context.Context, vmPoolId int64) VMPoolAPIGetVMPoolCredentialsRequest {
	return VMPoolAPIGetVMPoolCredentialsRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
	}
}

// Execute executes the request
//  @return VMPoolCredentials
func (a *VMPoolAPIService) GetVMPoolCredentialsExecute(r VMPoolAPIGetVMPoolCredentialsRequest) (*VMPoolCredentials, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolCredentials
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolCredentials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolVMsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	vmPoolId int64
	page *float32
	limit *float32
	filterId *[]string
	filterSiteId *[]string
	filterName *[]string
	filterAddress *[]string
	filterHost *[]string
	filterHosts *[]string
	filterTypeId *[]string
	filterPoolId *[]string
	filterAdministrationState *[]string
	filterNumaNodes *[]string
	filterInfrastructureId *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r VMPoolAPIGetVMPoolVMsRequest) Page(page float32) VMPoolAPIGetVMPoolVMsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r VMPoolAPIGetVMPoolVMsRequest) Limit(limit float32) VMPoolAPIGetVMPoolVMsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterId(filterId []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterId = &filterId
	return r
}

// Filter by siteId query param.  **Format:** filter.siteId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.siteId&#x3D;$btw:John Doe&amp;filter.siteId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterSiteId(filterSiteId []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterSiteId = &filterSiteId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterName(filterName []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterName = &filterName
	return r
}

// Filter by address query param.  **Format:** filter.address&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.address&#x3D;$btw:John Doe&amp;filter.address&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterAddress(filterAddress []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterAddress = &filterAddress
	return r
}

// Filter by host query param.  **Format:** filter.host&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.host&#x3D;$btw:John Doe&amp;filter.host&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterHost(filterHost []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterHost = &filterHost
	return r
}

// Filter by hosts query param.  **Format:** filter.hosts&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.hosts&#x3D;$btw:John Doe&amp;filter.hosts&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterHosts(filterHosts []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterHosts = &filterHosts
	return r
}

// Filter by typeId query param.  **Format:** filter.typeId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.typeId&#x3D;$btw:John Doe&amp;filter.typeId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterTypeId(filterTypeId []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterTypeId = &filterTypeId
	return r
}

// Filter by poolId query param.  **Format:** filter.poolId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.poolId&#x3D;$btw:John Doe&amp;filter.poolId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterPoolId(filterPoolId []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterPoolId = &filterPoolId
	return r
}

// Filter by administrationState query param.  **Format:** filter.administrationState&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.administrationState&#x3D;$btw:John Doe&amp;filter.administrationState&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterAdministrationState(filterAdministrationState []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterAdministrationState = &filterAdministrationState
	return r
}

// Filter by numaNodes query param.  **Format:** filter.numaNodes&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.numaNodes&#x3D;$btw:John Doe&amp;filter.numaNodes&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterNumaNodes(filterNumaNodes []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterNumaNodes = &filterNumaNodes
	return r
}

// Filter by infrastructureId query param.  **Format:** filter.infrastructureId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.infrastructureId&#x3D;$btw:John Doe&amp;filter.infrastructureId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolVMsRequest) FilterInfrastructureId(filterInfrastructureId []string) VMPoolAPIGetVMPoolVMsRequest {
	r.filterInfrastructureId = &filterInfrastructureId
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name  - host  - administrationState 
func (r VMPoolAPIGetVMPoolVMsRequest) SortBy(sortBy []string) VMPoolAPIGetVMPoolVMsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r VMPoolAPIGetVMPoolVMsRequest) Search(search string) VMPoolAPIGetVMPoolVMsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,name,host,hosts,administrationState   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - name  - host  - hosts  - administrationState 
func (r VMPoolAPIGetVMPoolVMsRequest) SearchBy(searchBy []string) VMPoolAPIGetVMPoolVMsRequest {
	r.searchBy = &searchBy
	return r
}

func (r VMPoolAPIGetVMPoolVMsRequest) Execute() (*VMPaginatedList, *http.Response, error) {
	return r.ApiService.GetVMPoolVMsExecute(r)
}

/*
GetVMPoolVMs Returns all VMs linked to the VM Pool

Returns all VMs linked to the VM Pool

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vmPoolId
 @return VMPoolAPIGetVMPoolVMsRequest
*/
func (a *VMPoolAPIService) GetVMPoolVMs(ctx context.Context, vmPoolId int64) VMPoolAPIGetVMPoolVMsRequest {
	return VMPoolAPIGetVMPoolVMsRequest{
		ApiService: a,
		ctx: ctx,
		vmPoolId: vmPoolId,
	}
}

// Execute executes the request
//  @return VMPaginatedList
func (a *VMPoolAPIService) GetVMPoolVMsExecute(r VMPoolAPIGetVMPoolVMsRequest) (*VMPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPoolVMs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools/{vmPoolId}/vms"
	localVarPath = strings.Replace(localVarPath, "{"+"vmPoolId"+"}", url.PathEscape(parameterValueToString(r.vmPoolId, "vmPoolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterSiteId != nil {
		t := *r.filterSiteId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterAddress != nil {
		t := *r.filterAddress
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.address", t, "form", "multi")
		}
	}
	if r.filterHost != nil {
		t := *r.filterHost
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.host", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.host", t, "form", "multi")
		}
	}
	if r.filterHosts != nil {
		t := *r.filterHosts
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.hosts", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.hosts", t, "form", "multi")
		}
	}
	if r.filterTypeId != nil {
		t := *r.filterTypeId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.typeId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.typeId", t, "form", "multi")
		}
	}
	if r.filterPoolId != nil {
		t := *r.filterPoolId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.poolId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.poolId", t, "form", "multi")
		}
	}
	if r.filterAdministrationState != nil {
		t := *r.filterAdministrationState
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.administrationState", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.administrationState", t, "form", "multi")
		}
	}
	if r.filterNumaNodes != nil {
		t := *r.filterNumaNodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.numaNodes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.numaNodes", t, "form", "multi")
		}
	}
	if r.filterInfrastructureId != nil {
		t := *r.filterInfrastructureId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VMPoolAPIGetVMPoolsRequest struct {
	ctx context.Context
	ApiService *VMPoolAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterName *[]string
	filterSiteId *[]string
	filterManagementHost *[]string
	filterStatus *[]string
	filterType *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r VMPoolAPIGetVMPoolsRequest) Page(page float32) VMPoolAPIGetVMPoolsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r VMPoolAPIGetVMPoolsRequest) Limit(limit float32) VMPoolAPIGetVMPoolsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterId(filterId []string) VMPoolAPIGetVMPoolsRequest {
	r.filterId = &filterId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterName(filterName []string) VMPoolAPIGetVMPoolsRequest {
	r.filterName = &filterName
	return r
}

// Filter by siteId query param.  **Format:** filter.siteId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.siteId&#x3D;$btw:John Doe&amp;filter.siteId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterSiteId(filterSiteId []string) VMPoolAPIGetVMPoolsRequest {
	r.filterSiteId = &filterSiteId
	return r
}

// Filter by managementHost query param.  **Format:** filter.managementHost&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.managementHost&#x3D;$btw:John Doe&amp;filter.managementHost&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterManagementHost(filterManagementHost []string) VMPoolAPIGetVMPoolsRequest {
	r.filterManagementHost = &filterManagementHost
	return r
}

// Filter by status query param.  **Format:** filter.status&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.status&#x3D;$btw:John Doe&amp;filter.status&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterStatus(filterStatus []string) VMPoolAPIGetVMPoolsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Filter by type query param.  **Format:** filter.type&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.type&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r VMPoolAPIGetVMPoolsRequest) FilterType(filterType []string) VMPoolAPIGetVMPoolsRequest {
	r.filterType = &filterType
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name  - type 
func (r VMPoolAPIGetVMPoolsRequest) SortBy(sortBy []string) VMPoolAPIGetVMPoolsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r VMPoolAPIGetVMPoolsRequest) Search(search string) VMPoolAPIGetVMPoolsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** name   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - name 
func (r VMPoolAPIGetVMPoolsRequest) SearchBy(searchBy []string) VMPoolAPIGetVMPoolsRequest {
	r.searchBy = &searchBy
	return r
}

func (r VMPoolAPIGetVMPoolsRequest) Execute() (*VMPoolPaginatedList, *http.Response, error) {
	return r.ApiService.GetVMPoolsExecute(r)
}

/*
GetVMPools Get all VM Pools

Returns list of all VM Pools

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VMPoolAPIGetVMPoolsRequest
*/
func (a *VMPoolAPIService) GetVMPools(ctx context.Context) VMPoolAPIGetVMPoolsRequest {
	return VMPoolAPIGetVMPoolsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VMPoolPaginatedList
func (a *VMPoolAPIService) GetVMPoolsExecute(r VMPoolAPIGetVMPoolsRequest) (*VMPoolPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VMPoolPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VMPoolAPIService.GetVMPools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/vm-pools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
[...]
