/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// NetworkDeviceLinkAggregationConfigurationTemplateAPIService NetworkDeviceLinkAggregationConfigurationTemplateAPI service
type NetworkDeviceLinkAggregationConfigurationTemplateAPIService service

type NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceLinkAggregationConfigurationTemplateAPIService
	createNetworkDeviceLinkAggregationConfigurationTemplate *CreateNetworkDeviceLinkAggregationConfigurationTemplate
}

// The Network Device Link Aggregation Configuration Template create object
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest) CreateNetworkDeviceLinkAggregationConfigurationTemplate(createNetworkDeviceLinkAggregationConfigurationTemplate CreateNetworkDeviceLinkAggregationConfigurationTemplate) NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	r.createNetworkDeviceLinkAggregationConfigurationTemplate = &createNetworkDeviceLinkAggregationConfigurationTemplate
	return r
}

func (r NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest) Execute() (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	return r.ApiService.CreateNetworkDeviceLinkAggregationConfigurationTemplateExecute(r)
}

/*
CreateNetworkDeviceLinkAggregationConfigurationTemplate Creates a Network Device Link Aggregation Configuration Template

Creates a Network Device Link Aggregation Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest
*/
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) CreateNetworkDeviceLinkAggregationConfigurationTemplate(ctx context.Context) NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	return NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceLinkAggregationConfigurationTemplate
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) CreateNetworkDeviceLinkAggregationConfigurationTemplateExecute(r NetworkDeviceLinkAggregationConfigurationTemplateAPICreateNetworkDeviceLinkAggregationConfigurationTemplateRequest) (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceLinkAggregationConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceLinkAggregationConfigurationTemplateAPIService.CreateNetworkDeviceLinkAggregationConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-link-aggregation-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkDeviceLinkAggregationConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("createNetworkDeviceLinkAggregationConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkDeviceLinkAggregationConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceLinkAggregationConfigurationTemplateAPIService
	networkDeviceLinkAggregationConfigurationTemplateId float32
}

func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkDeviceLinkAggregationConfigurationTemplateExecute(r)
}

/*
DeleteNetworkDeviceLinkAggregationConfigurationTemplate Deletes a Network Device Link Aggregation Configuration Template

Deletes a Network Device Link Aggregation Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceLinkAggregationConfigurationTemplateId
 @return NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest
*/
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) DeleteNetworkDeviceLinkAggregationConfigurationTemplate(ctx context.Context, networkDeviceLinkAggregationConfigurationTemplateId float32) NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	return NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceLinkAggregationConfigurationTemplateId: networkDeviceLinkAggregationConfigurationTemplateId,
	}
}

// Execute executes the request
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) DeleteNetworkDeviceLinkAggregationConfigurationTemplateExecute(r NetworkDeviceLinkAggregationConfigurationTemplateAPIDeleteNetworkDeviceLinkAggregationConfigurationTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceLinkAggregationConfigurationTemplateAPIService.DeleteNetworkDeviceLinkAggregationConfigurationTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-link-aggregation-configuration-templates/{networkDeviceLinkAggregationConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceLinkAggregationConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceLinkAggregationConfigurationTemplateId, "networkDeviceLinkAggregationConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceLinkAggregationConfigurationTemplateAPIService
	networkDeviceLinkAggregationConfigurationTemplateId float32
}

func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest) Execute() (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceLinkAggregationConfigurationTemplateExecute(r)
}

/*
GetNetworkDeviceLinkAggregationConfigurationTemplate Get Network Device Link Aggregation Configuration Template information

Returns Network Device Link Aggregation Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceLinkAggregationConfigurationTemplateId
 @return NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest
*/
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) GetNetworkDeviceLinkAggregationConfigurationTemplate(ctx context.Context, networkDeviceLinkAggregationConfigurationTemplateId float32) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	return NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceLinkAggregationConfigurationTemplateId: networkDeviceLinkAggregationConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceLinkAggregationConfigurationTemplate
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) GetNetworkDeviceLinkAggregationConfigurationTemplateExecute(r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplateRequest) (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceLinkAggregationConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceLinkAggregationConfigurationTemplateAPIService.GetNetworkDeviceLinkAggregationConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-link-aggregation-configuration-templates/{networkDeviceLinkAggregationConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceLinkAggregationConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceLinkAggregationConfigurationTemplateId, "networkDeviceLinkAggregationConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceLinkAggregationConfigurationTemplateAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterAction *[]string
	filterAggregationType *[]string
	filterNetworkDeviceDriver *[]string
	filterExecutionType *[]string
	filterLibraryLabel *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) Page(page float32) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) Limit(limit float32) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterId(filterId []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterId = &filterId
	return r
}

// Filter by action query param.  **Format:** filter.action&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.action&#x3D;$eq:John Doe&amp;filter.action&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterAction(filterAction []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterAction = &filterAction
	return r
}

// Filter by aggregationType query param.  **Format:** filter.aggregationType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.aggregationType&#x3D;$eq:John Doe&amp;filter.aggregationType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterAggregationType(filterAggregationType []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterAggregationType = &filterAggregationType
	return r
}

// Filter by networkDeviceDriver query param.  **Format:** filter.networkDeviceDriver&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceDriver&#x3D;$eq:John Doe&amp;filter.networkDeviceDriver&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterNetworkDeviceDriver(filterNetworkDeviceDriver []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterNetworkDeviceDriver = &filterNetworkDeviceDriver
	return r
}

// Filter by executionType query param.  **Format:** filter.executionType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.executionType&#x3D;$eq:John Doe&amp;filter.executionType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterExecutionType(filterExecutionType []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterExecutionType = &filterExecutionType
	return r
}

// Filter by libraryLabel query param.  **Format:** filter.libraryLabel&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.libraryLabel&#x3D;$eq:John Doe&amp;filter.libraryLabel&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) FilterLibraryLabel(filterLibraryLabel []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.filterLibraryLabel = &filterLibraryLabel
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;action:DESC   **Default Value:** id:DESC  **Available Fields** - id  - action  - aggregationType  - networkDeviceDriver  - executionType  - libraryLabel 
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) SortBy(sortBy []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) Search(search string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,action,aggregationType,networkDeviceDriver,executionType   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - action  - aggregationType  - networkDeviceDriver  - executionType  - libraryLabel 
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) SearchBy(searchBy []string) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) Execute() (*NetworkDeviceLinkAggregationConfigurationTemplatePaginatedList, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceLinkAggregationConfigurationTemplatesExecute(r)
}

/*
GetNetworkDeviceLinkAggregationConfigurationTemplates Get all Network Device Link Aggregation Configuration Templates

Returns list of all Network Device Link Aggregation Configuration Templates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest
*/
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) GetNetworkDeviceLinkAggregationConfigurationTemplates(ctx context.Context) NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest {
	return NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceLinkAggregationConfigurationTemplatePaginatedList
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) GetNetworkDeviceLinkAggregationConfigurationTemplatesExecute(r NetworkDeviceLinkAggregationConfigurationTemplateAPIGetNetworkDeviceLinkAggregationConfigurationTemplatesRequest) (*NetworkDeviceLinkAggregationConfigurationTemplatePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceLinkAggregationConfigurationTemplatePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceLinkAggregationConfigurationTemplateAPIService.GetNetworkDeviceLinkAggregationConfigurationTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-link-aggregation-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterAction != nil {
		t := *r.filterAction
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.action", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.action", t, "form", "multi")
		}
	}
	if r.filterAggregationType != nil {
		t := *r.filterAggregationType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.aggregationType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.aggregationType", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceDriver != nil {
		t := *r.filterNetworkDeviceDriver
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", t, "form", "multi")
		}
	}
	if r.filterExecutionType != nil {
		t := *r.filterExecutionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", t, "form", "multi")
		}
	}
	if r.filterLibraryLabel != nil {
		t := *r.filterLibraryLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceLinkAggregationConfigurationTemplateAPIService
	networkDeviceLinkAggregationConfigurationTemplateId float32
	updateNetworkDeviceLinkAggregationConfigurationTemplate *UpdateNetworkDeviceLinkAggregationConfigurationTemplate
}

// The Network Device Link Aggregation Configuration Template update object
func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest) UpdateNetworkDeviceLinkAggregationConfigurationTemplate(updateNetworkDeviceLinkAggregationConfigurationTemplate UpdateNetworkDeviceLinkAggregationConfigurationTemplate) NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	r.updateNetworkDeviceLinkAggregationConfigurationTemplate = &updateNetworkDeviceLinkAggregationConfigurationTemplate
	return r
}

func (r NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest) Execute() (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	return r.ApiService.UpdateNetworkDeviceLinkAggregationConfigurationTemplateExecute(r)
}

/*
UpdateNetworkDeviceLinkAggregationConfigurationTemplate Updates Network Device Link Aggregation Configuration Template information

Updates Network Device Link Aggregation Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceLinkAggregationConfigurationTemplateId
 @return NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest
*/
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) UpdateNetworkDeviceLinkAggregationConfigurationTemplate(ctx context.Context, networkDeviceLinkAggregationConfigurationTemplateId float32) NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest {
	return NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceLinkAggregationConfigurationTemplateId: networkDeviceLinkAggregationConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceLinkAggregationConfigurationTemplate
func (a *NetworkDeviceLinkAggregationConfigurationTemplateAPIService) UpdateNetworkDeviceLinkAggregationConfigurationTemplateExecute(r NetworkDeviceLinkAggregationConfigurationTemplateAPIUpdateNetworkDeviceLinkAggregationConfigurationTemplateRequest) (*NetworkDeviceLinkAggregationConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceLinkAggregationConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceLinkAggregationConfigurationTemplateAPIService.UpdateNetworkDeviceLinkAggregationConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-link-aggregation-configuration-templates/{networkDeviceLinkAggregationConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceLinkAggregationConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceLinkAggregationConfigurationTemplateId, "networkDeviceLinkAggregationConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateNetworkDeviceLinkAggregationConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("updateNetworkDeviceLinkAggregationConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateNetworkDeviceLinkAggregationConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
