/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DeviceConfigurationTemplateAPIService DeviceConfigurationTemplateAPI service
type DeviceConfigurationTemplateAPIService service

type DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	bulkAssignDeviceConfigurationTemplateProfile *BulkAssignDeviceConfigurationTemplateProfile
}

func (r DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest) BulkAssignDeviceConfigurationTemplateProfile(bulkAssignDeviceConfigurationTemplateProfile BulkAssignDeviceConfigurationTemplateProfile) DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest {
	r.bulkAssignDeviceConfigurationTemplateProfile = &bulkAssignDeviceConfigurationTemplateProfile
	return r
}

func (r DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest) Execute() (*BulkAssignDeviceConfigurationTemplateProfileResult, *http.Response, error) {
	return r.ApiService.BulkAssignDeviceConfigurationTemplateProfilesExecute(r)
}

/*
BulkAssignDeviceConfigurationTemplateProfiles Bulk-assign a Device Configuration Template across a fabric (all its devices) or an explicit device list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest
*/
func (a *DeviceConfigurationTemplateAPIService) BulkAssignDeviceConfigurationTemplateProfiles(ctx context.Context) DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest {
	return DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BulkAssignDeviceConfigurationTemplateProfileResult
func (a *DeviceConfigurationTemplateAPIService) BulkAssignDeviceConfigurationTemplateProfilesExecute(r DeviceConfigurationTemplateAPIBulkAssignDeviceConfigurationTemplateProfilesRequest) (*BulkAssignDeviceConfigurationTemplateProfileResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkAssignDeviceConfigurationTemplateProfileResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.BulkAssignDeviceConfigurationTemplateProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/bulk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkAssignDeviceConfigurationTemplateProfile == nil {
		return localVarReturnValue, nil, reportError("bulkAssignDeviceConfigurationTemplateProfile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkAssignDeviceConfigurationTemplateProfile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	createDeviceConfigurationTemplate *CreateDeviceConfigurationTemplate
}

func (r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest) CreateDeviceConfigurationTemplate(createDeviceConfigurationTemplate CreateDeviceConfigurationTemplate) DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest {
	r.createDeviceConfigurationTemplate = &createDeviceConfigurationTemplate
	return r
}

func (r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest) Execute() (*DeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.CreateDeviceConfigurationTemplateExecute(r)
}

/*
CreateDeviceConfigurationTemplate Create a Device Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) CreateDeviceConfigurationTemplate(ctx context.Context) DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) CreateDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateRequest) (*DeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.CreateDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("createDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	createDeviceConfigurationTemplateProfile *CreateDeviceConfigurationTemplateProfile
}

func (r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest) CreateDeviceConfigurationTemplateProfile(createDeviceConfigurationTemplateProfile CreateDeviceConfigurationTemplateProfile) DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest {
	r.createDeviceConfigurationTemplateProfile = &createDeviceConfigurationTemplateProfile
	return r
}

func (r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest) Execute() (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	return r.ApiService.CreateDeviceConfigurationTemplateProfileExecute(r)
}

/*
CreateDeviceConfigurationTemplateProfile Create a Device Configuration Template Profile (template ↔ device ↔ fabric binding)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest
*/
func (a *DeviceConfigurationTemplateAPIService) CreateDeviceConfigurationTemplateProfile(ctx context.Context) DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest {
	return DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplateProfile
func (a *DeviceConfigurationTemplateAPIService) CreateDeviceConfigurationTemplateProfileExecute(r DeviceConfigurationTemplateAPICreateDeviceConfigurationTemplateProfileRequest) (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplateProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.CreateDeviceConfigurationTemplateProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createDeviceConfigurationTemplateProfile == nil {
		return localVarReturnValue, nil, reportError("createDeviceConfigurationTemplateProfile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createDeviceConfigurationTemplateProfile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	ifMatch *string
}

// Entity tag
func (r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest) IfMatch(ifMatch string) DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDeviceConfigurationTemplateExecute(r)
}

/*
DeleteDeviceConfigurationTemplate Delete a Device Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) DeleteDeviceConfigurationTemplate(ctx context.Context, id int64) DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DeviceConfigurationTemplateAPIService) DeleteDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.DeleteDeviceConfigurationTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	ifMatch *string
}

// Entity tag
func (r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest) IfMatch(ifMatch string) DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDeviceConfigurationTemplateProfileExecute(r)
}

/*
DeleteDeviceConfigurationTemplateProfile Delete a Device Configuration Template Profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest
*/
func (a *DeviceConfigurationTemplateAPIService) DeleteDeviceConfigurationTemplateProfile(ctx context.Context, id int64) DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest {
	return DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *DeviceConfigurationTemplateAPIService) DeleteDeviceConfigurationTemplateProfileExecute(r DeviceConfigurationTemplateAPIDeleteDeviceConfigurationTemplateProfileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.DeleteDeviceConfigurationTemplateProfile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	findApplicableDeviceConfigurationTemplateProfiles *FindApplicableDeviceConfigurationTemplateProfiles
}

func (r DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest) FindApplicableDeviceConfigurationTemplateProfiles(findApplicableDeviceConfigurationTemplateProfiles FindApplicableDeviceConfigurationTemplateProfiles) DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest {
	r.findApplicableDeviceConfigurationTemplateProfiles = &findApplicableDeviceConfigurationTemplateProfiles
	return r
}

func (r DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest) Execute() (*FindApplicableDeviceConfigurationTemplateProfilesResult, *http.Response, error) {
	return r.ApiService.FindApplicableDeviceConfigurationTemplateProfilesExecute(r)
}

/*
FindApplicableDeviceConfigurationTemplateProfiles List Device Configuration Template Profiles applicable to a target device or fabric

For a networkDeviceId, returns every profile bound to that device plus fabric-bound profiles (profile.networkDeviceId IS NULL) for every fabric the device is attached to. For a networkFabricId, returns fabric-bound profiles for that fabric plus device-bound profiles whose target device belongs to that fabric. For a networkDeviceId, applyMode='once' profiles already recorded in device_configuration_template_history for that device are returned in `alreadyApplied` instead of `items`; fabric-scope queries leave `alreadyApplied` empty. Disabled profiles are excluded by default; pass includeDisabled=true to include them.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest
*/
func (a *DeviceConfigurationTemplateAPIService) FindApplicableDeviceConfigurationTemplateProfiles(ctx context.Context) DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest {
	return DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindApplicableDeviceConfigurationTemplateProfilesResult
func (a *DeviceConfigurationTemplateAPIService) FindApplicableDeviceConfigurationTemplateProfilesExecute(r DeviceConfigurationTemplateAPIFindApplicableDeviceConfigurationTemplateProfilesRequest) (*FindApplicableDeviceConfigurationTemplateProfilesResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindApplicableDeviceConfigurationTemplateProfilesResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.FindApplicableDeviceConfigurationTemplateProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/actions/find-applicable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.findApplicableDeviceConfigurationTemplateProfiles == nil {
		return localVarReturnValue, nil, reportError("findApplicableDeviceConfigurationTemplateProfiles is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.findApplicableDeviceConfigurationTemplateProfiles
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
}

func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest) Execute() (*DeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.GetDeviceConfigurationTemplateExecute(r)
}

/*
GetDeviceConfigurationTemplate Get a Device Configuration Template by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplate(ctx context.Context, id int64) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateRequest) (*DeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.GetDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
}

func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest) Execute() (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	return r.ApiService.GetDeviceConfigurationTemplateProfileExecute(r)
}

/*
GetDeviceConfigurationTemplateProfile Get a Device Configuration Template Profile by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest
*/
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplateProfile(ctx context.Context, id int64) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest {
	return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplateProfile
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplateProfileExecute(r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfileRequest) (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplateProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.GetDeviceConfigurationTemplateProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	tag *string
	page *float32
	limit *float32
	filterId *[]string
	filterDeviceConfigurationTemplateId *[]string
	filterNetworkDeviceId *[]string
	filterNetworkFabricId *[]string
	filterLifecycleStage *[]string
	filterIsEnabled *[]string
	filterPriority *[]string
	filterApplyMode *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Filter by exact tag membership. Composes with &#x60;filter.*&#x60; and &#x60;sortBy&#x3D;&#x60; like any other query param.
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) Tag(tag string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.tag = &tag
	return r
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) Page(page float32) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) Limit(limit float32) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterId(filterId []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterId = &filterId
	return r
}

// Filter by deviceConfigurationTemplateId query param.  **Format:** filter.deviceConfigurationTemplateId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.deviceConfigurationTemplateId&#x3D;$eq:John Doe&amp;filter.deviceConfigurationTemplateId&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterDeviceConfigurationTemplateId(filterDeviceConfigurationTemplateId []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterDeviceConfigurationTemplateId = &filterDeviceConfigurationTemplateId
	return r
}

// Filter by networkDeviceId query param.  **Format:** filter.networkDeviceId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceId&#x3D;$eq:John Doe&amp;filter.networkDeviceId&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterNetworkDeviceId(filterNetworkDeviceId []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterNetworkDeviceId = &filterNetworkDeviceId
	return r
}

// Filter by networkFabricId query param.  **Format:** filter.networkFabricId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkFabricId&#x3D;$eq:John Doe&amp;filter.networkFabricId&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterNetworkFabricId(filterNetworkFabricId []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterNetworkFabricId = &filterNetworkFabricId
	return r
}

// Filter by lifecycleStage query param.  **Format:** filter.lifecycleStage&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.lifecycleStage&#x3D;$eq:John Doe&amp;filter.lifecycleStage&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterLifecycleStage(filterLifecycleStage []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterLifecycleStage = &filterLifecycleStage
	return r
}

// Filter by isEnabled query param.  **Format:** filter.isEnabled&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.isEnabled&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterIsEnabled(filterIsEnabled []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterIsEnabled = &filterIsEnabled
	return r
}

// Filter by priority query param.  **Format:** filter.priority&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.priority&#x3D;$eq:John Doe&amp;filter.priority&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterPriority(filterPriority []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterPriority = &filterPriority
	return r
}

// Filter by applyMode query param.  **Format:** filter.applyMode&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.applyMode&#x3D;$eq:John Doe&amp;filter.applyMode&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) FilterApplyMode(filterApplyMode []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.filterApplyMode = &filterApplyMode
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;deviceConfigurationTemplateId:DESC   **Default Value:** priority:ASC  **Available Fields** - id  - deviceConfigurationTemplateId  - networkDeviceId  - networkFabricId  - lifecycleStage  - isEnabled  - priority  - applyMode  - createdTimestamp  - updatedTimestamp 
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) SortBy(sortBy []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) Search(search string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:**    **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields**  
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) SearchBy(searchBy []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	r.searchBy = &searchBy
	return r
}

func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) Execute() (*DeviceConfigurationTemplateProfilePaginatedList, *http.Response, error) {
	return r.ApiService.GetDeviceConfigurationTemplateProfilesExecute(r)
}

/*
GetDeviceConfigurationTemplateProfiles List Device Configuration Template Profiles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest
*/
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplateProfiles(ctx context.Context) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest {
	return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplateProfilePaginatedList
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplateProfilesExecute(r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplateProfilesRequest) (*DeviceConfigurationTemplateProfilePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplateProfilePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.GetDeviceConfigurationTemplateProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterDeviceConfigurationTemplateId != nil {
		t := *r.filterDeviceConfigurationTemplateId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.deviceConfigurationTemplateId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.deviceConfigurationTemplateId", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceId != nil {
		t := *r.filterNetworkDeviceId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceId", t, "form", "multi")
		}
	}
	if r.filterNetworkFabricId != nil {
		t := *r.filterNetworkFabricId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkFabricId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkFabricId", t, "form", "multi")
		}
	}
	if r.filterLifecycleStage != nil {
		t := *r.filterLifecycleStage
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.lifecycleStage", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.lifecycleStage", t, "form", "multi")
		}
	}
	if r.filterIsEnabled != nil {
		t := *r.filterIsEnabled
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.isEnabled", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.isEnabled", t, "form", "multi")
		}
	}
	if r.filterPriority != nil {
		t := *r.filterPriority
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.priority", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.priority", t, "form", "multi")
		}
	}
	if r.filterApplyMode != nil {
		t := *r.filterApplyMode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.applyMode", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.applyMode", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterLabel *[]string
	filterName *[]string
	filterDeviceDriver *[]string
	filterExecutionType *[]string
	filterTags *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) Page(page float32) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) Limit(limit float32) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterId(filterId []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterId = &filterId
	return r
}

// Filter by label query param.  **Format:** filter.label&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.label&#x3D;$eq:John Doe&amp;filter.label&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterLabel(filterLabel []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterLabel = &filterLabel
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$eq:John Doe&amp;filter.name&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterName(filterName []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterName = &filterName
	return r
}

// Filter by deviceDriver query param.  **Format:** filter.deviceDriver&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.deviceDriver&#x3D;$eq:John Doe&amp;filter.deviceDriver&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterDeviceDriver(filterDeviceDriver []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterDeviceDriver = &filterDeviceDriver
	return r
}

// Filter by executionType query param.  **Format:** filter.executionType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.executionType&#x3D;$eq:John Doe&amp;filter.executionType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterExecutionType(filterExecutionType []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterExecutionType = &filterExecutionType
	return r
}

// Filter by tags query param.  **Format:** filter.tags&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.tags&#x3D;$eq:John Doe&amp;filter.tags&#x3D;$ilike:John Doe  **Available Operations** - $ilike  - $eq  - $and  - $or
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) FilterTags(filterTags []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.filterTags = &filterTags
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;label:DESC   **Default Value:** id:DESC  **Available Fields** - id  - label  - name  - deviceDriver  - executionType 
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) SortBy(sortBy []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) Search(search string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,label,name,deviceDriver,executionType   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - label  - name  - deviceDriver  - executionType  - tags 
func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) SearchBy(searchBy []string) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	r.searchBy = &searchBy
	return r
}

func (r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) Execute() (*DeviceConfigurationTemplatePaginatedList, *http.Response, error) {
	return r.ApiService.GetDeviceConfigurationTemplatesExecute(r)
}

/*
GetDeviceConfigurationTemplates List Device Configuration Templates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest
*/
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplates(ctx context.Context) DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest {
	return DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplatePaginatedList
func (a *DeviceConfigurationTemplateAPIService) GetDeviceConfigurationTemplatesExecute(r DeviceConfigurationTemplateAPIGetDeviceConfigurationTemplatesRequest) (*DeviceConfigurationTemplatePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplatePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.GetDeviceConfigurationTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterLabel != nil {
		t := *r.filterLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.label", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.label", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterDeviceDriver != nil {
		t := *r.filterDeviceDriver
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.deviceDriver", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.deviceDriver", t, "form", "multi")
		}
	}
	if r.filterExecutionType != nil {
		t := *r.filterExecutionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", t, "form", "multi")
		}
	}
	if r.filterTags != nil {
		t := *r.filterTags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.tags", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	renderApplicableDeviceConfigurationTemplateProfiles *RenderApplicableDeviceConfigurationTemplateProfiles
}

func (r DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest) RenderApplicableDeviceConfigurationTemplateProfiles(renderApplicableDeviceConfigurationTemplateProfiles RenderApplicableDeviceConfigurationTemplateProfiles) DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest {
	r.renderApplicableDeviceConfigurationTemplateProfiles = &renderApplicableDeviceConfigurationTemplateProfiles
	return r
}

func (r DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest) Execute() (*RenderedApplicableDeviceConfigurationTemplateProfilesResult, *http.Response, error) {
	return r.ApiService.RenderApplicableDeviceConfigurationTemplateProfilesExecute(r)
}

/*
RenderApplicableDeviceConfigurationTemplateProfiles Render every Device Configuration Template Profile applicable to a target device or fabric

Resolves the applicable profiles (same matching rules as findApplicable) and renders each bound template. When networkDeviceId is provided, the target NetworkDevice (with its interfaces) is loaded and whitelisted device fields plus `interfaces` are injected into every render context. When networkFabricId is provided, only template/profile/extraVariables are merged. Returns per-profile outputs in `items` (profiles that will apply on the next deploy) and `alreadyAppliedItems` (applyMode='once' profiles already recorded for the target device — empty for fabric-scope queries), each ordered by priority. `joined` concatenates only `items[].rendered`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest
*/
func (a *DeviceConfigurationTemplateAPIService) RenderApplicableDeviceConfigurationTemplateProfiles(ctx context.Context) DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest {
	return DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RenderedApplicableDeviceConfigurationTemplateProfilesResult
func (a *DeviceConfigurationTemplateAPIService) RenderApplicableDeviceConfigurationTemplateProfilesExecute(r DeviceConfigurationTemplateAPIRenderApplicableDeviceConfigurationTemplateProfilesRequest) (*RenderedApplicableDeviceConfigurationTemplateProfilesResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RenderedApplicableDeviceConfigurationTemplateProfilesResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.RenderApplicableDeviceConfigurationTemplateProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/actions/render-applicable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderApplicableDeviceConfigurationTemplateProfiles == nil {
		return localVarReturnValue, nil, reportError("renderApplicableDeviceConfigurationTemplateProfiles is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.renderApplicableDeviceConfigurationTemplateProfiles
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	renderDeviceConfigurationTemplate *RenderDeviceConfigurationTemplate
}

func (r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest) RenderDeviceConfigurationTemplate(renderDeviceConfigurationTemplate RenderDeviceConfigurationTemplate) DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest {
	r.renderDeviceConfigurationTemplate = &renderDeviceConfigurationTemplate
	return r
}

func (r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest) Execute() (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.RenderDeviceConfigurationTemplateExecute(r)
}

/*
RenderDeviceConfigurationTemplate Render an unsaved Device Configuration Template body against a variables payload (stateless)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) RenderDeviceConfigurationTemplate(ctx context.Context) DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RenderedDeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) RenderDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateRequest) (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RenderedDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.RenderDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config/actions/render"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("renderDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.renderDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	renderDeviceConfigurationTemplateProfile *RenderDeviceConfigurationTemplateProfile
}

func (r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest) RenderDeviceConfigurationTemplateProfile(renderDeviceConfigurationTemplateProfile RenderDeviceConfigurationTemplateProfile) DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest {
	r.renderDeviceConfigurationTemplateProfile = &renderDeviceConfigurationTemplateProfile
	return r
}

func (r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest) Execute() (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.RenderDeviceConfigurationTemplateProfileExecute(r)
}

/*
RenderDeviceConfigurationTemplateProfile Render a Device Configuration Template Profile against a target NetworkDevice

Loads the profile, its bound template, and the target NetworkDevice (with interfaces). Merges variables (template < device < profile < extraVariables) and injects `networkDevice` + `networkDeviceInterfaces` as reserved system keys (cannot be overridden).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest
*/
func (a *DeviceConfigurationTemplateAPIService) RenderDeviceConfigurationTemplateProfile(ctx context.Context, id int64) DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest {
	return DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return RenderedDeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) RenderDeviceConfigurationTemplateProfileExecute(r DeviceConfigurationTemplateAPIRenderDeviceConfigurationTemplateProfileRequest) (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RenderedDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.RenderDeviceConfigurationTemplateProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/{id}/actions/render"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderDeviceConfigurationTemplateProfile == nil {
		return localVarReturnValue, nil, reportError("renderDeviceConfigurationTemplateProfile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.renderDeviceConfigurationTemplateProfile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	renderSavedDeviceConfigurationTemplate *RenderSavedDeviceConfigurationTemplate
}

func (r DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest) RenderSavedDeviceConfigurationTemplate(renderSavedDeviceConfigurationTemplate RenderSavedDeviceConfigurationTemplate) DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest {
	r.renderSavedDeviceConfigurationTemplate = &renderSavedDeviceConfigurationTemplate
	return r
}

func (r DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest) Execute() (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.RenderSavedDeviceConfigurationTemplateExecute(r)
}

/*
RenderSavedDeviceConfigurationTemplate Render a saved Device Configuration Template by ID, merging customVariablesJson with request variables.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) RenderSavedDeviceConfigurationTemplate(ctx context.Context, id int64) DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return RenderedDeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) RenderSavedDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPIRenderSavedDeviceConfigurationTemplateRequest) (*RenderedDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RenderedDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.RenderSavedDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config/{id}/actions/render"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderSavedDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("renderSavedDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.renderSavedDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	updateDeviceConfigurationTemplate *UpdateDeviceConfigurationTemplate
	ifMatch *string
}

func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest) UpdateDeviceConfigurationTemplate(updateDeviceConfigurationTemplate UpdateDeviceConfigurationTemplate) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest {
	r.updateDeviceConfigurationTemplate = &updateDeviceConfigurationTemplate
	return r
}

// Entity tag
func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest) IfMatch(ifMatch string) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest) Execute() (*DeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.UpdateDeviceConfigurationTemplateExecute(r)
}

/*
UpdateDeviceConfigurationTemplate Update a Device Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest
*/
func (a *DeviceConfigurationTemplateAPIService) UpdateDeviceConfigurationTemplate(ctx context.Context, id int64) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest {
	return DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplate
func (a *DeviceConfigurationTemplateAPIService) UpdateDeviceConfigurationTemplateExecute(r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateRequest) (*DeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.UpdateDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/config/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("updateDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.updateDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest struct {
	ctx context.Context
	ApiService *DeviceConfigurationTemplateAPIService
	id int64
	updateDeviceConfigurationTemplateProfile *UpdateDeviceConfigurationTemplateProfile
	ifMatch *string
}

func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest) UpdateDeviceConfigurationTemplateProfile(updateDeviceConfigurationTemplateProfile UpdateDeviceConfigurationTemplateProfile) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest {
	r.updateDeviceConfigurationTemplateProfile = &updateDeviceConfigurationTemplateProfile
	return r
}

// Entity tag
func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest) IfMatch(ifMatch string) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest) Execute() (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	return r.ApiService.UpdateDeviceConfigurationTemplateProfileExecute(r)
}

/*
UpdateDeviceConfigurationTemplateProfile Update a Device Configuration Template Profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest
*/
func (a *DeviceConfigurationTemplateAPIService) UpdateDeviceConfigurationTemplateProfile(ctx context.Context, id int64) DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest {
	return DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DeviceConfigurationTemplateProfile
func (a *DeviceConfigurationTemplateAPIService) UpdateDeviceConfigurationTemplateProfileExecute(r DeviceConfigurationTemplateAPIUpdateDeviceConfigurationTemplateProfileRequest) (*DeviceConfigurationTemplateProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceConfigurationTemplateProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceConfigurationTemplateAPIService.UpdateDeviceConfigurationTemplateProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/device-configuration-templates/profile/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateDeviceConfigurationTemplateProfile == nil {
		return localVarReturnValue, nil, reportError("updateDeviceConfigurationTemplateProfile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.updateDeviceConfigurationTemplateProfile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
