/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// NetworkDeviceBGPInterconnectConfigurationTemplateAPIService NetworkDeviceBGPInterconnectConfigurationTemplateAPI service
type NetworkDeviceBGPInterconnectConfigurationTemplateAPIService service

type NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService
	createNetworkDeviceBGPInterconnectConfigurationTemplate *CreateNetworkDeviceBGPInterconnectConfigurationTemplate
}

// The Network Device BGP Interconnect Configuration Template create object
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) CreateNetworkDeviceBGPInterconnectConfigurationTemplate(createNetworkDeviceBGPInterconnectConfigurationTemplate CreateNetworkDeviceBGPInterconnectConfigurationTemplate) NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	r.createNetworkDeviceBGPInterconnectConfigurationTemplate = &createNetworkDeviceBGPInterconnectConfigurationTemplate
	return r
}

func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	return r.ApiService.CreateNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r)
}

/*
CreateNetworkDeviceBGPInterconnectConfigurationTemplate Creates a Network Device BGP Interconnect Configuration Template

Creates a Network Device BGP Interconnect Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) CreateNetworkDeviceBGPInterconnectConfigurationTemplate(ctx context.Context) NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	return NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPInterconnectConfigurationTemplate
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) CreateNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r NetworkDeviceBGPInterconnectConfigurationTemplateAPICreateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPInterconnectConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPInterconnectConfigurationTemplateAPIService.CreateNetworkDeviceBGPInterconnectConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-interconnect-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkDeviceBGPInterconnectConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("createNetworkDeviceBGPInterconnectConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkDeviceBGPInterconnectConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService
	id int64
	ifMatch *string
}

// Entity tag
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest) IfMatch(ifMatch string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r)
}

/*
DeleteNetworkDeviceBGPInterconnectConfigurationTemplate Deletes a Network Device BGP Interconnect Configuration Template

Deletes a Network Device BGP Interconnect Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) DeleteNetworkDeviceBGPInterconnectConfigurationTemplate(ctx context.Context, id int64) NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	return NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) DeleteNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r NetworkDeviceBGPInterconnectConfigurationTemplateAPIDeleteNetworkDeviceBGPInterconnectConfigurationTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPInterconnectConfigurationTemplateAPIService.DeleteNetworkDeviceBGPInterconnectConfigurationTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-interconnect-configuration-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService
	id int64
}

func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r)
}

/*
GetNetworkDeviceBGPInterconnectConfigurationTemplate Get Network Device BGP Interconnect Configuration Template information

Returns Network Device BGP Interconnect Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) GetNetworkDeviceBGPInterconnectConfigurationTemplate(ctx context.Context, id int64) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	return NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPInterconnectConfigurationTemplate
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) GetNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplateRequest) (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPInterconnectConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPInterconnectConfigurationTemplateAPIService.GetNetworkDeviceBGPInterconnectConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-interconnect-configuration-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterNetworkDeviceDriver *[]string
	filterExecutionType *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) Page(page float32) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) Limit(limit float32) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) FilterId(filterId []string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.filterId = &filterId
	return r
}

// Filter by networkDeviceDriver query param.  **Format:** filter.networkDeviceDriver&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceDriver&#x3D;$eq:John Doe&amp;filter.networkDeviceDriver&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) FilterNetworkDeviceDriver(filterNetworkDeviceDriver []string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.filterNetworkDeviceDriver = &filterNetworkDeviceDriver
	return r
}

// Filter by executionType query param.  **Format:** filter.executionType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.executionType&#x3D;$eq:John Doe&amp;filter.executionType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) FilterExecutionType(filterExecutionType []string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.filterExecutionType = &filterExecutionType
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;networkDeviceDriver:DESC   **Default Value:** id:DESC  **Available Fields** - id  - networkDeviceDriver  - executionType 
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) SortBy(sortBy []string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) Search(search string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,networkDeviceDriver,executionType   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - networkDeviceDriver  - executionType 
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) SearchBy(searchBy []string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) Execute() (*NetworkDeviceBGPInterconnectConfigurationTemplatePaginatedList, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceBGPInterconnectConfigurationTemplatesExecute(r)
}

/*
GetNetworkDeviceBGPInterconnectConfigurationTemplates Get all Network Device BGP Interconnect Configuration Templates

Returns list of all Network Device BGP Interconnect Configuration Templates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest
*/
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) GetNetworkDeviceBGPInterconnectConfigurationTemplates(ctx context.Context) NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest {
	return NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPInterconnectConfigurationTemplatePaginatedList
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) GetNetworkDeviceBGPInterconnectConfigurationTemplatesExecute(r NetworkDeviceBGPInterconnectConfigurationTemplateAPIGetNetworkDeviceBGPInterconnectConfigurationTemplatesRequest) (*NetworkDeviceBGPInterconnectConfigurationTemplatePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPInterconnectConfigurationTemplatePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPInterconnectConfigurationTemplateAPIService.GetNetworkDeviceBGPInterconnectConfigurationTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-interconnect-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceDriver != nil {
		t := *r.filterNetworkDeviceDriver
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", t, "form", "multi")
		}
	}
	if r.filterExecutionType != nil {
		t := *r.filterExecutionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService
	id int64
	updateNetworkDeviceBGPInterconnectConfigurationTemplate *UpdateNetworkDeviceBGPInterconnectConfigurationTemplate
	ifMatch *string
}

// The Network Device BGP Interconnect Configuration Template update object
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) UpdateNetworkDeviceBGPInterconnectConfigurationTemplate(updateNetworkDeviceBGPInterconnectConfigurationTemplate UpdateNetworkDeviceBGPInterconnectConfigurationTemplate) NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	r.updateNetworkDeviceBGPInterconnectConfigurationTemplate = &updateNetworkDeviceBGPInterconnectConfigurationTemplate
	return r
}

// Entity tag
func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) IfMatch(ifMatch string) NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	return r.ApiService.UpdateNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r)
}

/*
UpdateNetworkDeviceBGPInterconnectConfigurationTemplate Updates Network Device BGP Interconnect Configuration Template information

Updates Network Device BGP Interconnect Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) UpdateNetworkDeviceBGPInterconnectConfigurationTemplate(ctx context.Context, id int64) NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest {
	return NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPInterconnectConfigurationTemplate
func (a *NetworkDeviceBGPInterconnectConfigurationTemplateAPIService) UpdateNetworkDeviceBGPInterconnectConfigurationTemplateExecute(r NetworkDeviceBGPInterconnectConfigurationTemplateAPIUpdateNetworkDeviceBGPInterconnectConfigurationTemplateRequest) (*NetworkDeviceBGPInterconnectConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPInterconnectConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPInterconnectConfigurationTemplateAPIService.UpdateNetworkDeviceBGPInterconnectConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-interconnect-configuration-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateNetworkDeviceBGPInterconnectConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("updateNetworkDeviceBGPInterconnectConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.updateNetworkDeviceBGPInterconnectConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
