/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// NetworkFabricInterconnectAPIService NetworkFabricInterconnectAPI service
type NetworkFabricInterconnectAPIService service

type NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest) Execute() (*http.Response, error) {
	return r.ApiService.AcceptNetworkFabricInterconnectDeployExecute(r)
}

/*
AcceptNetworkFabricInterconnectDeploy Accepts the deployment of the specified network fabric interconnect

Accepts the deployment of the specified network fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest
*/
func (a *NetworkFabricInterconnectAPIService) AcceptNetworkFabricInterconnectDeploy(ctx context.Context, id int64) NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest {
	return NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NetworkFabricInterconnectAPIService) AcceptNetworkFabricInterconnectDeployExecute(r NetworkFabricInterconnectAPIAcceptNetworkFabricInterconnectDeployRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.AcceptNetworkFabricInterconnectDeploy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/accept-deploy"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	networkFabricInterconnectLinksDeployOptions *NetworkFabricInterconnectLinksDeployOptions
}

// Activate links options
func (r NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest) NetworkFabricInterconnectLinksDeployOptions(networkFabricInterconnectLinksDeployOptions NetworkFabricInterconnectLinksDeployOptions) NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest {
	r.networkFabricInterconnectLinksDeployOptions = &networkFabricInterconnectLinksDeployOptions
	return r
}

func (r NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest) Execute() (*JobInfo, *http.Response, error) {
	return r.ApiService.ActivateNetworkFabricInterconnectLinksExecute(r)
}

/*
ActivateNetworkFabricInterconnectLinks Activates links on an active fabric interconnect and makes them part of the interconnect

Provisions BGP peering on new switches and updates existing switches with new neighbor entries. Also applies overlay configuration (VNI/RD/RT) for connected logical networks on the new switches.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest
*/
func (a *NetworkFabricInterconnectAPIService) ActivateNetworkFabricInterconnectLinks(ctx context.Context, id int64) NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest {
	return NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JobInfo
func (a *NetworkFabricInterconnectAPIService) ActivateNetworkFabricInterconnectLinksExecute(r NetworkFabricInterconnectAPIActivateNetworkFabricInterconnectLinksRequest) (*JobInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.ActivateNetworkFabricInterconnectLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/activate-links"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkFabricInterconnectLinksDeployOptions == nil {
		return localVarReturnValue, nil, reportError("networkFabricInterconnectLinksDeployOptions is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkFabricInterconnectLinksDeployOptions
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPICreateInterconnectLinkRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	createNetworkFabricInterconnectLink *CreateNetworkFabricInterconnectLink
}

// The network fabric link to create
func (r NetworkFabricInterconnectAPICreateInterconnectLinkRequest) CreateNetworkFabricInterconnectLink(createNetworkFabricInterconnectLink CreateNetworkFabricInterconnectLink) NetworkFabricInterconnectAPICreateInterconnectLinkRequest {
	r.createNetworkFabricInterconnectLink = &createNetworkFabricInterconnectLink
	return r
}

func (r NetworkFabricInterconnectAPICreateInterconnectLinkRequest) Execute() (*NetworkFabricInterconnectLink, *http.Response, error) {
	return r.ApiService.CreateInterconnectLinkExecute(r)
}

/*
CreateInterconnectLink Create a new link within an interconnect

Creates a new network fabric interconnect link

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPICreateInterconnectLinkRequest
*/
func (a *NetworkFabricInterconnectAPIService) CreateInterconnectLink(ctx context.Context, id int64) NetworkFabricInterconnectAPICreateInterconnectLinkRequest {
	return NetworkFabricInterconnectAPICreateInterconnectLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectLink
func (a *NetworkFabricInterconnectAPIService) CreateInterconnectLinkExecute(r NetworkFabricInterconnectAPICreateInterconnectLinkRequest) (*NetworkFabricInterconnectLink, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectLink
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.CreateInterconnectLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/links"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkFabricInterconnectLink == nil {
		return localVarReturnValue, nil, reportError("createNetworkFabricInterconnectLink is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkFabricInterconnectLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	createNetworkFabricInterconnect *CreateNetworkFabricInterconnect
}

// The network fabric interconnect to create
func (r NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest) CreateNetworkFabricInterconnect(createNetworkFabricInterconnect CreateNetworkFabricInterconnect) NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest {
	r.createNetworkFabricInterconnect = &createNetworkFabricInterconnect
	return r
}

func (r NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest) Execute() (*NetworkFabricInterconnect, *http.Response, error) {
	return r.ApiService.CreateNetworkFabricInterconnectExecute(r)
}

/*
CreateNetworkFabricInterconnect Create a new network fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest
*/
func (a *NetworkFabricInterconnectAPIService) CreateNetworkFabricInterconnect(ctx context.Context) NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest {
	return NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnect
func (a *NetworkFabricInterconnectAPIService) CreateNetworkFabricInterconnectExecute(r NetworkFabricInterconnectAPICreateNetworkFabricInterconnectRequest) (*NetworkFabricInterconnect, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnect
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.CreateNetworkFabricInterconnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkFabricInterconnect == nil {
		return localVarReturnValue, nil, reportError("createNetworkFabricInterconnect is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkFabricInterconnect
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	networkFabricInterconnectDeactivateLinks *NetworkFabricInterconnectDeactivateLinks
}

// IDs of the ACTIVE links to deactivate
func (r NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest) NetworkFabricInterconnectDeactivateLinks(networkFabricInterconnectDeactivateLinks NetworkFabricInterconnectDeactivateLinks) NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest {
	r.networkFabricInterconnectDeactivateLinks = &networkFabricInterconnectDeactivateLinks
	return r
}

func (r NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest) Execute() (*JobInfo, *http.Response, error) {
	return r.ApiService.DeactivateNetworkFabricInterconnectLinksExecute(r)
}

/*
DeactivateNetworkFabricInterconnectLinks Deactivates links on an active fabric interconnect and moves them back to draft state

Removes BGP peering config from the specified switches and cleans up neighbor entries from remaining switches. Links are put back in draft state and are not deleted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest
*/
func (a *NetworkFabricInterconnectAPIService) DeactivateNetworkFabricInterconnectLinks(ctx context.Context, id int64) NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest {
	return NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JobInfo
func (a *NetworkFabricInterconnectAPIService) DeactivateNetworkFabricInterconnectLinksExecute(r NetworkFabricInterconnectAPIDeactivateNetworkFabricInterconnectLinksRequest) (*JobInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.DeactivateNetworkFabricInterconnectLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/deactivate-links"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkFabricInterconnectDeactivateLinks == nil {
		return localVarReturnValue, nil, reportError("networkFabricInterconnectDeactivateLinks is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkFabricInterconnectDeactivateLinks
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	linkId int64
	ifMatch *string
}

// Entity tag
func (r NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest) IfMatch(ifMatch string) NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteInterconnectLinkExecute(r)
}

/*
DeleteInterconnectLink Delete a specific fabric interconnect link

Deletes a specific network fabric link that is part of the specified fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @param linkId The ID of the network fabric link
 @return NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest
*/
func (a *NetworkFabricInterconnectAPIService) DeleteInterconnectLink(ctx context.Context, id int64, linkId int64) NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest {
	return NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		linkId: linkId,
	}
}

// Execute executes the request
func (a *NetworkFabricInterconnectAPIService) DeleteInterconnectLinkExecute(r NetworkFabricInterconnectAPIDeleteInterconnectLinkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.DeleteInterconnectLink")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/links/{linkId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"linkId"+"}", url.PathEscape(parameterValueToString(r.linkId, "linkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkFabricInterconnectExecute(r)
}

/*
DeleteNetworkFabricInterconnect Delete a network fabric interconnect by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect to delete
 @return NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest
*/
func (a *NetworkFabricInterconnectAPIService) DeleteNetworkFabricInterconnect(ctx context.Context, id int64) NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest {
	return NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NetworkFabricInterconnectAPIService) DeleteNetworkFabricInterconnectExecute(r NetworkFabricInterconnectAPIDeleteNetworkFabricInterconnectRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.DeleteNetworkFabricInterconnect")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	networkFabricInterconnectDeployOptions *NetworkFabricInterconnectDeployOptions
}

// Network fabric interconnect deploy options
func (r NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest) NetworkFabricInterconnectDeployOptions(networkFabricInterconnectDeployOptions NetworkFabricInterconnectDeployOptions) NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest {
	r.networkFabricInterconnectDeployOptions = &networkFabricInterconnectDeployOptions
	return r
}

func (r NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest) Execute() (*JobInfo, *http.Response, error) {
	return r.ApiService.DeployNetworkFabricInterconnectExecute(r)
}

/*
DeployNetworkFabricInterconnect Deploys the specified network fabric interconnect

Deploys the specified network fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest
*/
func (a *NetworkFabricInterconnectAPIService) DeployNetworkFabricInterconnect(ctx context.Context, id int64) NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest {
	return NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JobInfo
func (a *NetworkFabricInterconnectAPIService) DeployNetworkFabricInterconnectExecute(r NetworkFabricInterconnectAPIDeployNetworkFabricInterconnectRequest) (*JobInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.DeployNetworkFabricInterconnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/deploy"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkFabricInterconnectDeployOptions == nil {
		return localVarReturnValue, nil, reportError("networkFabricInterconnectDeployOptions is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkFabricInterconnectDeployOptions
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest) Execute() (*JobInfo, *http.Response, error) {
	return r.ApiService.DetachNetworkFabricInterconnectExecute(r)
}

/*
DetachNetworkFabricInterconnect Detaches the specified network fabric interconnect

Removes the BGP peering configuration from all border switches in the interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest
*/
func (a *NetworkFabricInterconnectAPIService) DetachNetworkFabricInterconnect(ctx context.Context, id int64) NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest {
	return NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JobInfo
func (a *NetworkFabricInterconnectAPIService) DetachNetworkFabricInterconnectExecute(r NetworkFabricInterconnectAPIDetachNetworkFabricInterconnectRequest) (*JobInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.DetachNetworkFabricInterconnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/detach"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	page *float32
	limit *float32
	filterId *[]string
	filterName *[]string
	filterDescription *[]string
	filterStatus *[]string
	filterSiteId *[]string
	filterFabricConfigurationFabricType *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) Page(page float32) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) Limit(limit float32) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterId(filterId []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterId = &filterId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterName(filterName []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterName = &filterName
	return r
}

// Filter by description query param.  **Format:** filter.description&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.description&#x3D;$btw:John Doe&amp;filter.description&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterDescription(filterDescription []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterDescription = &filterDescription
	return r
}

// Filter by status query param.  **Format:** filter.status&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.status&#x3D;$btw:John Doe&amp;filter.status&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterStatus(filterStatus []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Filter by siteId query param.  **Format:** filter.siteId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.siteId&#x3D;$btw:John Doe&amp;filter.siteId&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterSiteId(filterSiteId []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterSiteId = &filterSiteId
	return r
}

// Filter by fabricConfiguration.fabricType query param.  **Format:** filter.fabricConfiguration.fabricType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.fabricConfiguration.fabricType&#x3D;$btw:John Doe&amp;filter.fabricConfiguration.fabricType&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) FilterFabricConfigurationFabricType(filterFabricConfigurationFabricType []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.filterFabricConfigurationFabricType = &filterFabricConfigurationFabricType
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;siteId:DESC   **Default Value:** id:DESC  **Available Fields** - id  - siteId  - name  - status  - createdTimestamp  - updatedTimestamp 
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) SortBy(sortBy []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) Search(search string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,name,description,status,siteId   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - name  - description  - status  - siteId 
func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) SearchBy(searchBy []string) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) Execute() (*NetworkFabricPaginatedList, *http.Response, error) {
	return r.ApiService.GetFabricInterconnectAvailableFabricsExecute(r)
}

/*
GetFabricInterconnectAvailableFabrics Get the available fabrics for a fabric interconnect

Returns a paginated list of network fabrics that can be added to the specified fabric interconnect and are not already part of it

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetFabricInterconnectAvailableFabrics(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest {
	return NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricPaginatedList
func (a *NetworkFabricInterconnectAPIService) GetFabricInterconnectAvailableFabricsExecute(r NetworkFabricInterconnectAPIGetFabricInterconnectAvailableFabricsRequest) (*NetworkFabricPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetFabricInterconnectAvailableFabrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/fabrics-available"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterDescription != nil {
		t := *r.filterDescription
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.description", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.description", t, "form", "multi")
		}
	}
	if r.filterStatus != nil {
		t := *r.filterStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", t, "form", "multi")
		}
	}
	if r.filterSiteId != nil {
		t := *r.filterSiteId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.siteId", t, "form", "multi")
		}
	}
	if r.filterFabricConfigurationFabricType != nil {
		t := *r.filterFabricConfigurationFabricType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.fabricConfiguration.fabricType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.fabricConfiguration.fabricType", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest) Execute() (*NetworkFabricList, *http.Response, error) {
	return r.ApiService.GetFabricInterconnectFabricsExecute(r)
}

/*
GetFabricInterconnectFabrics Get the fabrics for a fabric interconnect

Returns a list of network fabrics that are part of the specified fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetFabricInterconnectFabrics(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest {
	return NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricList
func (a *NetworkFabricInterconnectAPIService) GetFabricInterconnectFabricsExecute(r NetworkFabricInterconnectAPIGetFabricInterconnectFabricsRequest) (*NetworkFabricList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetFabricInterconnectFabrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/fabrics"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetInterconnectLinkRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	linkId int64
}

func (r NetworkFabricInterconnectAPIGetInterconnectLinkRequest) Execute() (*NetworkFabricInterconnectLink, *http.Response, error) {
	return r.ApiService.GetInterconnectLinkExecute(r)
}

/*
GetInterconnectLink Get a specific fabric interconnect link

Returns a specific network fabric link that is part of the specified fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @param linkId The ID of the network fabric link
 @return NetworkFabricInterconnectAPIGetInterconnectLinkRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetInterconnectLink(ctx context.Context, id int64, linkId int64) NetworkFabricInterconnectAPIGetInterconnectLinkRequest {
	return NetworkFabricInterconnectAPIGetInterconnectLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		linkId: linkId,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectLink
func (a *NetworkFabricInterconnectAPIService) GetInterconnectLinkExecute(r NetworkFabricInterconnectAPIGetInterconnectLinkRequest) (*NetworkFabricInterconnectLink, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectLink
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetInterconnectLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/links/{linkId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"linkId"+"}", url.PathEscape(parameterValueToString(r.linkId, "linkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetInterconnectLinksRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	page *float32
	limit *float32
	filterId *[]string
	filterFabricId *[]string
	filterNetworkEquipmentId *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
	select_ *string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) Page(page float32) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) Limit(limit float32) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) FilterId(filterId []string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.filterId = &filterId
	return r
}

// Filter by fabricId query param.  **Format:** filter.fabricId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.fabricId&#x3D;$eq:John Doe&amp;filter.fabricId&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) FilterFabricId(filterFabricId []string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.filterFabricId = &filterFabricId
	return r
}

// Filter by networkEquipmentId query param.  **Format:** filter.networkEquipmentId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkEquipmentId&#x3D;$eq:John Doe&amp;filter.networkEquipmentId&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) FilterNetworkEquipmentId(filterNetworkEquipmentId []string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.filterNetworkEquipmentId = &filterNetworkEquipmentId
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;interconnectId:DESC   **Default Value:** id:DESC  **Available Fields** - id  - interconnectId  - status  - fabricId  - networkEquipmentId 
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) SortBy(sortBy []string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) Search(search string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:**    **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields**  
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) SearchBy(searchBy []string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.searchBy = &searchBy
	return r
}

// List of fields to select.  **Example:** id,revision,status,interconnectId,fabricId   **Default Value:** By default all fields returns. If you want to select only some fields, provide them in query param  
func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) Select_(select_ string) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	r.select_ = &select_
	return r
}

func (r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) Execute() (*NetworkFabricInterconnectLinksPaginatedList, *http.Response, error) {
	return r.ApiService.GetInterconnectLinksExecute(r)
}

/*
GetInterconnectLinks Get all fabric interconnect links

Returns list of all network fabric links that are part of the specified fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIGetInterconnectLinksRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetInterconnectLinks(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetInterconnectLinksRequest {
	return NetworkFabricInterconnectAPIGetInterconnectLinksRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectLinksPaginatedList
func (a *NetworkFabricInterconnectAPIService) GetInterconnectLinksExecute(r NetworkFabricInterconnectAPIGetInterconnectLinksRequest) (*NetworkFabricInterconnectLinksPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectLinksPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetInterconnectLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/links"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterFabricId != nil {
		t := *r.filterFabricId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.fabricId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.fabricId", t, "form", "multi")
		}
	}
	if r.filterNetworkEquipmentId != nil {
		t := *r.filterNetworkEquipmentId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkEquipmentId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkEquipmentId", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	if r.select_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select", r.select_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest) Execute() (*NetworkFabricInterconnect, *http.Response, error) {
	return r.ApiService.GetNetworkFabricInterconnectByIdExecute(r)
}

/*
GetNetworkFabricInterconnectById Get a network fabric interconnect by ID

Returns a network fabric interconnect by its ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect to retrieve
 @return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectById(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest {
	return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnect
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectByIdExecute(r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectByIdRequest) (*NetworkFabricInterconnect, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnect
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetNetworkFabricInterconnectById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
	networkFabricInterconnectDeploymentCheckRequest *NetworkFabricInterconnectDeploymentCheckRequest
}

// Optional link filter. Omit or pass an empty linkIds array to check all links.
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest) NetworkFabricInterconnectDeploymentCheckRequest(networkFabricInterconnectDeploymentCheckRequest NetworkFabricInterconnectDeploymentCheckRequest) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest {
	r.networkFabricInterconnectDeploymentCheckRequest = &networkFabricInterconnectDeploymentCheckRequest
	return r
}

func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest) Execute() ([]NetworkFabricInterconnectLinkValidation, *http.Response, error) {
	return r.ApiService.GetNetworkFabricInterconnectDeploymentCheckExecute(r)
}

/*
GetNetworkFabricInterconnectDeploymentCheck Checks whether interconnect links can be activated

Per-link readiness report. Validates each requested link's switch BGP variables (router_id, internal/external VTEP IPs, ASN, external loopback) against the DCI templates. Variables are read from network_equipment.custom_variables_json with column fallback. Body may filter to specific linkIds; omitted = all links of the interconnect.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectDeploymentCheck(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest {
	return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []NetworkFabricInterconnectLinkValidation
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectDeploymentCheckExecute(r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentCheckRequest) ([]NetworkFabricInterconnectLinkValidation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []NetworkFabricInterconnectLinkValidation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetNetworkFabricInterconnectDeploymentCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/deployment-check"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkFabricInterconnectDeploymentCheckRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest) Execute() (*NetworkFabricInterconnectDeploymentInfo, *http.Response, error) {
	return r.ApiService.GetNetworkFabricInterconnectDeploymentInfoExecute(r)
}

/*
GetNetworkFabricInterconnectDeploymentInfo Get deployment info for a network fabric interconnect

Returns deployment info such as deploy ID, status, and generated configuration for a network fabric interconnect.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the network fabric interconnect
 @return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectDeploymentInfo(ctx context.Context, id int64) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest {
	return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectDeploymentInfo
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectDeploymentInfoExecute(r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectDeploymentInfoRequest) (*NetworkFabricInterconnectDeploymentInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectDeploymentInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetNetworkFabricInterconnectDeploymentInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/deployment-info"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	interconnectType NetworkFabricInterconnectType
}

func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest) Execute() (*NetworkFabricInterconnectTemplate, *http.Response, error) {
	return r.ApiService.GetNetworkFabricInterconnectTemplateByTypeExecute(r)
}

/*
GetNetworkFabricInterconnectTemplateByType Get a network fabric interconnect template configuration by type

Returns a network fabric interconnect template by its type as suggested by the Metalsoft software

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param interconnectType The type of the network fabric interconnect (e.g., dci-evpn)
 @return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectTemplateByType(ctx context.Context, interconnectType NetworkFabricInterconnectType) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest {
	return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest{
		ApiService: a,
		ctx: ctx,
		interconnectType: interconnectType,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectTemplate
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectTemplateByTypeExecute(r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectTemplateByTypeRequest) (*NetworkFabricInterconnectTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetNetworkFabricInterconnectTemplateByType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/template/{interconnectType}"
	localVarPath = strings.Replace(localVarPath, "{"+"interconnectType"+"}", url.PathEscape(parameterValueToString(r.interconnectType, "interconnectType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterLabel *[]string
	filterName *[]string
	filterDescription *[]string
	filterStatus *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) Page(page float32) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) Limit(limit float32) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$btw:John Doe&amp;filter.id&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) FilterId(filterId []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.filterId = &filterId
	return r
}

// Filter by label query param.  **Format:** filter.label&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.label&#x3D;$btw:John Doe&amp;filter.label&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) FilterLabel(filterLabel []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.filterLabel = &filterLabel
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$btw:John Doe&amp;filter.name&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) FilterName(filterName []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.filterName = &filterName
	return r
}

// Filter by description query param.  **Format:** filter.description&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.description&#x3D;$btw:John Doe&amp;filter.description&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) FilterDescription(filterDescription []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.filterDescription = &filterDescription
	return r
}

// Filter by status query param.  **Format:** filter.status&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.status&#x3D;$btw:John Doe&amp;filter.status&#x3D;$contains:John Doe  **Available Operations** - $eq  - $gt  - $gte  - $in  - $null  - $lt  - $lte  - $btw  - $ilike  - $sw  - $contains  - $not  - $and  - $or
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) FilterStatus(filterStatus []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;name:DESC   **Default Value:** id:DESC  **Available Fields** - id  - name  - createdTimestamp  - updatedTimestamp 
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) SortBy(sortBy []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) Search(search string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** name,label,description   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - name  - label  - description 
func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) SearchBy(searchBy []string) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) Execute() (*NetworkFabricInterconnectPaginatedList, *http.Response, error) {
	return r.ApiService.GetNetworkFabricInterconnectsExecute(r)
}

/*
GetNetworkFabricInterconnects Get all network fabric interconnects

Returns list of all fabric interconnects with pagination

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest
*/
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnects(ctx context.Context) NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest {
	return NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkFabricInterconnectPaginatedList
func (a *NetworkFabricInterconnectAPIService) GetNetworkFabricInterconnectsExecute(r NetworkFabricInterconnectAPIGetNetworkFabricInterconnectsRequest) (*NetworkFabricInterconnectPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkFabricInterconnectPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.GetNetworkFabricInterconnects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterLabel != nil {
		t := *r.filterLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.label", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.label", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterDescription != nil {
		t := *r.filterDescription
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.description", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.description", t, "form", "multi")
		}
	}
	if r.filterStatus != nil {
		t := *r.filterStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest struct {
	ctx context.Context
	ApiService *NetworkFabricInterconnectAPIService
	id int64
}

func (r NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest) Execute() (*http.Response, error) {
	return r.ApiService.RejectNetworkFabricInterconnectDeployExecute(r)
}

/*
RejectNetworkFabricInterconnectDeploy Rejects the deployment of the specified network fabric interconnect

Rejects the deployment of the specified network fabric interconnect

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest
*/
func (a *NetworkFabricInterconnectAPIService) RejectNetworkFabricInterconnectDeploy(ctx context.Context, id int64) NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest {
	return NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NetworkFabricInterconnectAPIService) RejectNetworkFabricInterconnectDeployExecute(r NetworkFabricInterconnectAPIRejectNetworkFabricInterconnectDeployRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkFabricInterconnectAPIService.RejectNetworkFabricInterconnectDeploy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-fabric-interconnects/{id}/actions/reject-deploy"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
[...]
