/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// DNSRecordSetAPIService DNSRecordSetAPI service
type DNSRecordSetAPIService service

type DNSRecordSetAPIListDNSRecordSetsRequest struct {
	ctx context.Context
	ApiService *DNSRecordSetAPIService
	page *float32
	limit *float32
	filterInfrastructureId *[]string
	filterName *[]string
	filterZoneName *[]string
	filterStatus *[]string
	filterTags *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
	select_ *string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r DNSRecordSetAPIListDNSRecordSetsRequest) Page(page float32) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r DNSRecordSetAPIListDNSRecordSetsRequest) Limit(limit float32) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.limit = &limit
	return r
}

// Filter by infrastructureId query param.  **Format:** filter.infrastructureId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.infrastructureId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r DNSRecordSetAPIListDNSRecordSetsRequest) FilterInfrastructureId(filterInfrastructureId []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.filterInfrastructureId = &filterInfrastructureId
	return r
}

// Filter by name query param.  **Format:** filter.name&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.name&#x3D;$eq:John Doe&amp;filter.name&#x3D;$ilike:John Doe  **Available Operations** - $eq  - $ilike  - $and  - $or
func (r DNSRecordSetAPIListDNSRecordSetsRequest) FilterName(filterName []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.filterName = &filterName
	return r
}

// Filter by zoneName query param.  **Format:** filter.zoneName&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.zoneName&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r DNSRecordSetAPIListDNSRecordSetsRequest) FilterZoneName(filterZoneName []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.filterZoneName = &filterZoneName
	return r
}

// Filter by status query param.  **Format:** filter.status&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.status&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r DNSRecordSetAPIListDNSRecordSetsRequest) FilterStatus(filterStatus []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Filter by tags query param.  **Format:** filter.tags&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.tags&#x3D;$eq:John Doe&amp;filter.tags&#x3D;$ilike:John Doe  **Available Operations** - $ilike  - $eq  - $and  - $or
func (r DNSRecordSetAPIListDNSRecordSetsRequest) FilterTags(filterTags []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.filterTags = &filterTags
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;status:DESC   **Default Value:** name:DESC  **Available Fields** - id  - status  - siteId  - infrastructureId  - name  - zoneName  - type  - ttl 
func (r DNSRecordSetAPIListDNSRecordSetsRequest) SortBy(sortBy []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r DNSRecordSetAPIListDNSRecordSetsRequest) Search(search string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,siteId,infrastructureId,name,zoneName   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - siteId  - infrastructureId  - name  - zoneName 
func (r DNSRecordSetAPIListDNSRecordSetsRequest) SearchBy(searchBy []string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.searchBy = &searchBy
	return r
}

// List of fields to select.  **Example:** id,status,siteId,infrastructureId,name   **Default Value:** By default all fields returns. If you want to select only some fields, provide them in query param  
func (r DNSRecordSetAPIListDNSRecordSetsRequest) Select_(select_ string) DNSRecordSetAPIListDNSRecordSetsRequest {
	r.select_ = &select_
	return r
}

func (r DNSRecordSetAPIListDNSRecordSetsRequest) Execute() (*DNSRecordSetPaginatedList, *http.Response, error) {
	return r.ApiService.ListDNSRecordSetsExecute(r)
}

/*
ListDNSRecordSets List all RecordSets

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DNSRecordSetAPIListDNSRecordSetsRequest
*/
func (a *DNSRecordSetAPIService) ListDNSRecordSets(ctx context.Context) DNSRecordSetAPIListDNSRecordSetsRequest {
	return DNSRecordSetAPIListDNSRecordSetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DNSRecordSetPaginatedList
func (a *DNSRecordSetAPIService) ListDNSRecordSetsExecute(r DNSRecordSetAPIListDNSRecordSetsRequest) (*DNSRecordSetPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DNSRecordSetPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DNSRecordSetAPIService.ListDNSRecordSets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dns-recordsets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterInfrastructureId != nil {
		t := *r.filterInfrastructureId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", t, "form", "multi")
		}
	}
	if r.filterName != nil {
		t := *r.filterName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.name", t, "form", "multi")
		}
	}
	if r.filterZoneName != nil {
		t := *r.filterZoneName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.zoneName", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.zoneName", t, "form", "multi")
		}
	}
	if r.filterStatus != nil {
		t := *r.filterStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.status", t, "form", "multi")
		}
	}
	if r.filterTags != nil {
		t := *r.filterTags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.tags", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	if r.select_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select", r.select_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
