/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// NetworkDeviceConfigurationTemplateAPIService NetworkDeviceConfigurationTemplateAPI service
type NetworkDeviceConfigurationTemplateAPIService service

type NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceConfigurationTemplateAPIService
	createNetworkDeviceConfigurationTemplate *CreateNetworkDeviceConfigurationTemplate
}

// The Network Device Configuration Template create object
func (r NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest) CreateNetworkDeviceConfigurationTemplate(createNetworkDeviceConfigurationTemplate CreateNetworkDeviceConfigurationTemplate) NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest {
	r.createNetworkDeviceConfigurationTemplate = &createNetworkDeviceConfigurationTemplate
	return r
}

func (r NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest) Execute() (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.CreateNetworkDeviceConfigurationTemplateExecute(r)
}

/*
CreateNetworkDeviceConfigurationTemplate Creates a Network Device Configuration Template

Creates a Network Device Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest
*/
func (a *NetworkDeviceConfigurationTemplateAPIService) CreateNetworkDeviceConfigurationTemplate(ctx context.Context) NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest {
	return NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceConfigurationTemplate
func (a *NetworkDeviceConfigurationTemplateAPIService) CreateNetworkDeviceConfigurationTemplateExecute(r NetworkDeviceConfigurationTemplateAPICreateNetworkDeviceConfigurationTemplateRequest) (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceConfigurationTemplateAPIService.CreateNetworkDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("createNetworkDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceConfigurationTemplateAPIService
	networkDeviceConfigurationTemplateId float32
}

func (r NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkDeviceConfigurationTemplateExecute(r)
}

/*
DeleteNetworkDeviceConfigurationTemplate Deletes a Network Device Configuration Template

Deletes a Network Device Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceConfigurationTemplateId
 @return NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest
*/
func (a *NetworkDeviceConfigurationTemplateAPIService) DeleteNetworkDeviceConfigurationTemplate(ctx context.Context, networkDeviceConfigurationTemplateId float32) NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest {
	return NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceConfigurationTemplateId: networkDeviceConfigurationTemplateId,
	}
}

// Execute executes the request
func (a *NetworkDeviceConfigurationTemplateAPIService) DeleteNetworkDeviceConfigurationTemplateExecute(r NetworkDeviceConfigurationTemplateAPIDeleteNetworkDeviceConfigurationTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceConfigurationTemplateAPIService.DeleteNetworkDeviceConfigurationTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-configuration-templates/{networkDeviceConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceConfigurationTemplateId, "networkDeviceConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceConfigurationTemplateAPIService
	networkDeviceConfigurationTemplateId float32
}

func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest) Execute() (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceConfigurationTemplateExecute(r)
}

/*
GetNetworkDeviceConfigurationTemplate Get Network Device Configuration Template information

Returns Network Device Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceConfigurationTemplateId
 @return NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest
*/
func (a *NetworkDeviceConfigurationTemplateAPIService) GetNetworkDeviceConfigurationTemplate(ctx context.Context, networkDeviceConfigurationTemplateId float32) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest {
	return NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceConfigurationTemplateId: networkDeviceConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceConfigurationTemplate
func (a *NetworkDeviceConfigurationTemplateAPIService) GetNetworkDeviceConfigurationTemplateExecute(r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplateRequest) (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceConfigurationTemplateAPIService.GetNetworkDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-configuration-templates/{networkDeviceConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceConfigurationTemplateId, "networkDeviceConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceConfigurationTemplateAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterNetworkType *[]string
	filterNetworkDeviceDriver *[]string
	filterNetworkDevicePosition *[]string
	filterRemoteNetworkDevicePosition *[]string
	filterMlagPair *[]string
	filterBgpNumbering *[]string
	filterBgpLinkConfiguration *[]string
	filterExecutionType *[]string
	filterLibraryLabel *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) Page(page float32) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) Limit(limit float32) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterId(filterId []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterId = &filterId
	return r
}

// Filter by networkType query param.  **Format:** filter.networkType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkType&#x3D;$eq:John Doe&amp;filter.networkType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterNetworkType(filterNetworkType []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterNetworkType = &filterNetworkType
	return r
}

// Filter by networkDeviceDriver query param.  **Format:** filter.networkDeviceDriver&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceDriver&#x3D;$eq:John Doe&amp;filter.networkDeviceDriver&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterNetworkDeviceDriver(filterNetworkDeviceDriver []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterNetworkDeviceDriver = &filterNetworkDeviceDriver
	return r
}

// Filter by networkDevicePosition query param.  **Format:** filter.networkDevicePosition&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDevicePosition&#x3D;$eq:John Doe&amp;filter.networkDevicePosition&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterNetworkDevicePosition(filterNetworkDevicePosition []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterNetworkDevicePosition = &filterNetworkDevicePosition
	return r
}

// Filter by remoteNetworkDevicePosition query param.  **Format:** filter.remoteNetworkDevicePosition&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.remoteNetworkDevicePosition&#x3D;$eq:John Doe&amp;filter.remoteNetworkDevicePosition&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterRemoteNetworkDevicePosition(filterRemoteNetworkDevicePosition []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterRemoteNetworkDevicePosition = &filterRemoteNetworkDevicePosition
	return r
}

// Filter by mlagPair query param.  **Format:** filter.mlagPair&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.mlagPair&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterMlagPair(filterMlagPair []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterMlagPair = &filterMlagPair
	return r
}

// Filter by bgpNumbering query param.  **Format:** filter.bgpNumbering&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.bgpNumbering&#x3D;$eq:John Doe&amp;filter.bgpNumbering&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterBgpNumbering(filterBgpNumbering []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterBgpNumbering = &filterBgpNumbering
	return r
}

// Filter by bgpLinkConfiguration query param.  **Format:** filter.bgpLinkConfiguration&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.bgpLinkConfiguration&#x3D;$eq:John Doe&amp;filter.bgpLinkConfiguration&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterBgpLinkConfiguration(filterBgpLinkConfiguration []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterBgpLinkConfiguration = &filterBgpLinkConfiguration
	return r
}

// Filter by executionType query param.  **Format:** filter.executionType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.executionType&#x3D;$eq:John Doe&amp;filter.executionType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterExecutionType(filterExecutionType []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterExecutionType = &filterExecutionType
	return r
}

// Filter by libraryLabel query param.  **Format:** filter.libraryLabel&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.libraryLabel&#x3D;$eq:John Doe&amp;filter.libraryLabel&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) FilterLibraryLabel(filterLibraryLabel []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.filterLibraryLabel = &filterLibraryLabel
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;networkType:DESC   **Default Value:** id:DESC  **Available Fields** - id  - networkType  - networkDeviceDriver  - networkDevicePosition  - remoteNetworkDevicePosition  - mlagPair  - bgpNumbering  - bgpLinkConfiguration  - executionType  - libraryLabel 
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) SortBy(sortBy []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) Search(search string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,networkType,networkDeviceDriver,networkDevicePosition,remoteNetworkDevicePosition   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - networkType  - networkDeviceDriver  - networkDevicePosition  - remoteNetworkDevicePosition  - mlagPair  - bgpNumbering  - bgpLinkConfiguration  - executionType  - libraryLabel 
func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) SearchBy(searchBy []string) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) Execute() (*NetworkDeviceConfigurationTemplatePaginatedList, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceConfigurationTemplatesExecute(r)
}

/*
GetNetworkDeviceConfigurationTemplates Get all Network Device Configuration Templates

Returns list of all Network Device Configuration Templates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest
*/
func (a *NetworkDeviceConfigurationTemplateAPIService) GetNetworkDeviceConfigurationTemplates(ctx context.Context) NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest {
	return NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceConfigurationTemplatePaginatedList
func (a *NetworkDeviceConfigurationTemplateAPIService) GetNetworkDeviceConfigurationTemplatesExecute(r NetworkDeviceConfigurationTemplateAPIGetNetworkDeviceConfigurationTemplatesRequest) (*NetworkDeviceConfigurationTemplatePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceConfigurationTemplatePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceConfigurationTemplateAPIService.GetNetworkDeviceConfigurationTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterNetworkType != nil {
		t := *r.filterNetworkType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkType", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceDriver != nil {
		t := *r.filterNetworkDeviceDriver
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", t, "form", "multi")
		}
	}
	if r.filterNetworkDevicePosition != nil {
		t := *r.filterNetworkDevicePosition
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDevicePosition", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDevicePosition", t, "form", "multi")
		}
	}
	if r.filterRemoteNetworkDevicePosition != nil {
		t := *r.filterRemoteNetworkDevicePosition
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.remoteNetworkDevicePosition", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.remoteNetworkDevicePosition", t, "form", "multi")
		}
	}
	if r.filterMlagPair != nil {
		t := *r.filterMlagPair
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.mlagPair", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.mlagPair", t, "form", "multi")
		}
	}
	if r.filterBgpNumbering != nil {
		t := *r.filterBgpNumbering
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpNumbering", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpNumbering", t, "form", "multi")
		}
	}
	if r.filterBgpLinkConfiguration != nil {
		t := *r.filterBgpLinkConfiguration
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpLinkConfiguration", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpLinkConfiguration", t, "form", "multi")
		}
	}
	if r.filterExecutionType != nil {
		t := *r.filterExecutionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", t, "form", "multi")
		}
	}
	if r.filterLibraryLabel != nil {
		t := *r.filterLibraryLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceConfigurationTemplateAPIService
	networkDeviceConfigurationTemplateId float32
	updateNetworkDeviceConfigurationTemplate *UpdateNetworkDeviceConfigurationTemplate
}

// The Network Device Configuration Template update object
func (r NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest) UpdateNetworkDeviceConfigurationTemplate(updateNetworkDeviceConfigurationTemplate UpdateNetworkDeviceConfigurationTemplate) NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest {
	r.updateNetworkDeviceConfigurationTemplate = &updateNetworkDeviceConfigurationTemplate
	return r
}

func (r NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest) Execute() (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	return r.ApiService.UpdateNetworkDeviceConfigurationTemplateExecute(r)
}

/*
UpdateNetworkDeviceConfigurationTemplate Updates Network Device Configuration Template information

Updates Network Device Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceConfigurationTemplateId
 @return NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest
*/
func (a *NetworkDeviceConfigurationTemplateAPIService) UpdateNetworkDeviceConfigurationTemplate(ctx context.Context, networkDeviceConfigurationTemplateId float32) NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest {
	return NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceConfigurationTemplateId: networkDeviceConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceConfigurationTemplate
func (a *NetworkDeviceConfigurationTemplateAPIService) UpdateNetworkDeviceConfigurationTemplateExecute(r NetworkDeviceConfigurationTemplateAPIUpdateNetworkDeviceConfigurationTemplateRequest) (*NetworkDeviceConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceConfigurationTemplateAPIService.UpdateNetworkDeviceConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-configuration-templates/{networkDeviceConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceConfigurationTemplateId, "networkDeviceConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateNetworkDeviceConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("updateNetworkDeviceConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateNetworkDeviceConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
