/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// EndpointInstanceAPIService EndpointInstanceAPI service
type EndpointInstanceAPIService service

type EndpointInstanceAPICreateEndpointInstanceRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	infrastructureId int32
	endpointInstanceCreate *EndpointInstanceCreate
}

// The Endpoint Instance to create
func (r EndpointInstanceAPICreateEndpointInstanceRequest) EndpointInstanceCreate(endpointInstanceCreate EndpointInstanceCreate) EndpointInstanceAPICreateEndpointInstanceRequest {
	r.endpointInstanceCreate = &endpointInstanceCreate
	return r
}

func (r EndpointInstanceAPICreateEndpointInstanceRequest) Execute() (*EndpointInstance, *http.Response, error) {
	return r.ApiService.CreateEndpointInstanceExecute(r)
}

/*
CreateEndpointInstance Add Endpoint Instance to an infrastructure

Adds Endpoint Instance to the specified infrastructure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param infrastructureId
 @return EndpointInstanceAPICreateEndpointInstanceRequest
*/
func (a *EndpointInstanceAPIService) CreateEndpointInstance(ctx context.Context, infrastructureId int32) EndpointInstanceAPICreateEndpointInstanceRequest {
	return EndpointInstanceAPICreateEndpointInstanceRequest{
		ApiService: a,
		ctx: ctx,
		infrastructureId: infrastructureId,
	}
}

// Execute executes the request
//  @return EndpointInstance
func (a *EndpointInstanceAPIService) CreateEndpointInstanceExecute(r EndpointInstanceAPICreateEndpointInstanceRequest) (*EndpointInstance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.CreateEndpointInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/infrastructures/{infrastructureId}/endpoint-instances"
	localVarPath = strings.Replace(localVarPath, "{"+"infrastructureId"+"}", url.PathEscape(parameterValueToString(r.infrastructureId, "infrastructureId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.endpointInstanceCreate == nil {
		return localVarReturnValue, nil, reportError("endpointInstanceCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.endpointInstanceCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIDeleteEndpointInstanceRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	endpointInstanceId int32
	ifMatch *string
}

// Entity tag
func (r EndpointInstanceAPIDeleteEndpointInstanceRequest) IfMatch(ifMatch string) EndpointInstanceAPIDeleteEndpointInstanceRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r EndpointInstanceAPIDeleteEndpointInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEndpointInstanceExecute(r)
}

/*
DeleteEndpointInstance Delete Endpoint Instance

Deletes the specified Endpoint Instance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param endpointInstanceId
 @return EndpointInstanceAPIDeleteEndpointInstanceRequest
*/
func (a *EndpointInstanceAPIService) DeleteEndpointInstance(ctx context.Context, endpointInstanceId int32) EndpointInstanceAPIDeleteEndpointInstanceRequest {
	return EndpointInstanceAPIDeleteEndpointInstanceRequest{
		ApiService: a,
		ctx: ctx,
		endpointInstanceId: endpointInstanceId,
	}
}

// Execute executes the request
func (a *EndpointInstanceAPIService) DeleteEndpointInstanceExecute(r EndpointInstanceAPIDeleteEndpointInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.DeleteEndpointInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances/{endpointInstanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"endpointInstanceId"+"}", url.PathEscape(parameterValueToString(r.endpointInstanceId, "endpointInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type EndpointInstanceAPIGetEndpointInstanceRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	endpointInstanceId int32
}

func (r EndpointInstanceAPIGetEndpointInstanceRequest) Execute() (*EndpointInstance, *http.Response, error) {
	return r.ApiService.GetEndpointInstanceExecute(r)
}

/*
GetEndpointInstance Get Endpoint Instance details

Returns the details of the specified Endpoint Instance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param endpointInstanceId
 @return EndpointInstanceAPIGetEndpointInstanceRequest
*/
func (a *EndpointInstanceAPIService) GetEndpointInstance(ctx context.Context, endpointInstanceId int32) EndpointInstanceAPIGetEndpointInstanceRequest {
	return EndpointInstanceAPIGetEndpointInstanceRequest{
		ApiService: a,
		ctx: ctx,
		endpointInstanceId: endpointInstanceId,
	}
}

// Execute executes the request
//  @return EndpointInstance
func (a *EndpointInstanceAPIService) GetEndpointInstanceExecute(r EndpointInstanceAPIGetEndpointInstanceRequest) (*EndpointInstance, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.GetEndpointInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances/{endpointInstanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"endpointInstanceId"+"}", url.PathEscape(parameterValueToString(r.endpointInstanceId, "endpointInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIGetEndpointInstanceConfigRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	endpointInstanceId int32
}

func (r EndpointInstanceAPIGetEndpointInstanceConfigRequest) Execute() (*EndpointInstanceConfiguration, *http.Response, error) {
	return r.ApiService.GetEndpointInstanceConfigExecute(r)
}

/*
GetEndpointInstanceConfig Get Endpoint Instance config details

Returns the config details of the specified Endpoint Instance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param endpointInstanceId
 @return EndpointInstanceAPIGetEndpointInstanceConfigRequest
*/
func (a *EndpointInstanceAPIService) GetEndpointInstanceConfig(ctx context.Context, endpointInstanceId int32) EndpointInstanceAPIGetEndpointInstanceConfigRequest {
	return EndpointInstanceAPIGetEndpointInstanceConfigRequest{
		ApiService: a,
		ctx: ctx,
		endpointInstanceId: endpointInstanceId,
	}
}

// Execute executes the request
//  @return EndpointInstanceConfiguration
func (a *EndpointInstanceAPIService) GetEndpointInstanceConfigExecute(r EndpointInstanceAPIGetEndpointInstanceConfigRequest) (*EndpointInstanceConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstanceConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.GetEndpointInstanceConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances/{endpointInstanceId}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"endpointInstanceId"+"}", url.PathEscape(parameterValueToString(r.endpointInstanceId, "endpointInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIGetEndpointInstancesRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	page *float32
	limit *float32
	filterInfrastructureId *[]string
	filterGroupId *[]string
	filterEndpointId *[]string
	filterServiceStatus *[]string
	filterConfigEndpointId *[]string
	filterConfigDeployStatus *[]string
	filterConfigDeployType *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r EndpointInstanceAPIGetEndpointInstancesRequest) Page(page float32) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r EndpointInstanceAPIGetEndpointInstancesRequest) Limit(limit float32) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.limit = &limit
	return r
}

// Filter by infrastructureId query param.  **Format:** filter.infrastructureId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.infrastructureId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterInfrastructureId(filterInfrastructureId []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterInfrastructureId = &filterInfrastructureId
	return r
}

// Filter by groupId query param.  **Format:** filter.groupId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.groupId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterGroupId(filterGroupId []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterGroupId = &filterGroupId
	return r
}

// Filter by endpointId query param.  **Format:** filter.endpointId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.endpointId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterEndpointId(filterEndpointId []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterEndpointId = &filterEndpointId
	return r
}

// Filter by serviceStatus query param.  **Format:** filter.serviceStatus&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.serviceStatus&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterServiceStatus(filterServiceStatus []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterServiceStatus = &filterServiceStatus
	return r
}

// Filter by config.endpointId query param.  **Format:** filter.config.endpointId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.endpointId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterConfigEndpointId(filterConfigEndpointId []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterConfigEndpointId = &filterConfigEndpointId
	return r
}

// Filter by config.deployStatus query param.  **Format:** filter.config.deployStatus&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.deployStatus&#x3D;$eq:John Doe&amp;filter.config.deployStatus&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterConfigDeployStatus(filterConfigDeployStatus []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterConfigDeployStatus = &filterConfigDeployStatus
	return r
}

// Filter by config.deployType query param.  **Format:** filter.config.deployType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.deployType&#x3D;$eq:John Doe&amp;filter.config.deployType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r EndpointInstanceAPIGetEndpointInstancesRequest) FilterConfigDeployType(filterConfigDeployType []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.filterConfigDeployType = &filterConfigDeployType
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;label:DESC   **Default Value:** id:DESC  **Available Fields** - id  - label 
func (r EndpointInstanceAPIGetEndpointInstancesRequest) SortBy(sortBy []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r EndpointInstanceAPIGetEndpointInstancesRequest) Search(search string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** label   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - label 
func (r EndpointInstanceAPIGetEndpointInstancesRequest) SearchBy(searchBy []string) EndpointInstanceAPIGetEndpointInstancesRequest {
	r.searchBy = &searchBy
	return r
}

func (r EndpointInstanceAPIGetEndpointInstancesRequest) Execute() (*EndpointInstancePaginatedList, *http.Response, error) {
	return r.ApiService.GetEndpointInstancesExecute(r)
}

/*
GetEndpointInstances List Endpoint Instances

Returns list of Endpoint Instances

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return EndpointInstanceAPIGetEndpointInstancesRequest
*/
func (a *EndpointInstanceAPIService) GetEndpointInstances(ctx context.Context) EndpointInstanceAPIGetEndpointInstancesRequest {
	return EndpointInstanceAPIGetEndpointInstancesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EndpointInstancePaginatedList
func (a *EndpointInstanceAPIService) GetEndpointInstancesExecute(r EndpointInstanceAPIGetEndpointInstancesRequest) (*EndpointInstancePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstancePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.GetEndpointInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterInfrastructureId != nil {
		t := *r.filterInfrastructureId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", t, "form", "multi")
		}
	}
	if r.filterGroupId != nil {
		t := *r.filterGroupId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.groupId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.groupId", t, "form", "multi")
		}
	}
	if r.filterEndpointId != nil {
		t := *r.filterEndpointId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.endpointId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.endpointId", t, "form", "multi")
		}
	}
	if r.filterServiceStatus != nil {
		t := *r.filterServiceStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.serviceStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.serviceStatus", t, "form", "multi")
		}
	}
	if r.filterConfigEndpointId != nil {
		t := *r.filterConfigEndpointId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.endpointId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.endpointId", t, "form", "multi")
		}
	}
	if r.filterConfigDeployStatus != nil {
		t := *r.filterConfigDeployStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployStatus", t, "form", "multi")
		}
	}
	if r.filterConfigDeployType != nil {
		t := *r.filterConfigDeployType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployType", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	infrastructureId int32
	page *float32
	limit *float32
	filterInfrastructureId *[]string
	filterGroupId *[]string
	filterEndpointId *[]string
	filterServiceStatus *[]string
	filterConfigEndpointId *[]string
	filterConfigDeployStatus *[]string
	filterConfigDeployType *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) Page(page float32) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) Limit(limit float32) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.limit = &limit
	return r
}

// Filter by infrastructureId query param.  **Format:** filter.infrastructureId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.infrastructureId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterInfrastructureId(filterInfrastructureId []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterInfrastructureId = &filterInfrastructureId
	return r
}

// Filter by groupId query param.  **Format:** filter.groupId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.groupId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterGroupId(filterGroupId []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterGroupId = &filterGroupId
	return r
}

// Filter by endpointId query param.  **Format:** filter.endpointId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.endpointId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterEndpointId(filterEndpointId []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterEndpointId = &filterEndpointId
	return r
}

// Filter by serviceStatus query param.  **Format:** filter.serviceStatus&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.serviceStatus&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterServiceStatus(filterServiceStatus []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterServiceStatus = &filterServiceStatus
	return r
}

// Filter by config.endpointId query param.  **Format:** filter.config.endpointId&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.endpointId&#x3D;$eq:John Doe  **Available Operations** - $eq  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterConfigEndpointId(filterConfigEndpointId []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterConfigEndpointId = &filterConfigEndpointId
	return r
}

// Filter by config.deployStatus query param.  **Format:** filter.config.deployStatus&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.deployStatus&#x3D;$eq:John Doe&amp;filter.config.deployStatus&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterConfigDeployStatus(filterConfigDeployStatus []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterConfigDeployStatus = &filterConfigDeployStatus
	return r
}

// Filter by config.deployType query param.  **Format:** filter.config.deployType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.config.deployType&#x3D;$eq:John Doe&amp;filter.config.deployType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) FilterConfigDeployType(filterConfigDeployType []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.filterConfigDeployType = &filterConfigDeployType
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;label:DESC   **Default Value:** id:DESC  **Available Fields** - id  - label 
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) SortBy(sortBy []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) Search(search string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** label   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - label 
func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) SearchBy(searchBy []string) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	r.searchBy = &searchBy
	return r
}

func (r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) Execute() (*EndpointInstancePaginatedList, *http.Response, error) {
	return r.ApiService.GetInfrastructureEndpointInstancesExecute(r)
}

/*
GetInfrastructureEndpointInstances List Endpoint Instances for an infrastructure

Returns list of Endpoint Instances in the specified infrastructure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param infrastructureId
 @return EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest
*/
func (a *EndpointInstanceAPIService) GetInfrastructureEndpointInstances(ctx context.Context, infrastructureId int32) EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest {
	return EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest{
		ApiService: a,
		ctx: ctx,
		infrastructureId: infrastructureId,
	}
}

// Execute executes the request
//  @return EndpointInstancePaginatedList
func (a *EndpointInstanceAPIService) GetInfrastructureEndpointInstancesExecute(r EndpointInstanceAPIGetInfrastructureEndpointInstancesRequest) (*EndpointInstancePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstancePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.GetInfrastructureEndpointInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/infrastructures/{infrastructureId}/endpoint-instances"
	localVarPath = strings.Replace(localVarPath, "{"+"infrastructureId"+"}", url.PathEscape(parameterValueToString(r.infrastructureId, "infrastructureId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterInfrastructureId != nil {
		t := *r.filterInfrastructureId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.infrastructureId", t, "form", "multi")
		}
	}
	if r.filterGroupId != nil {
		t := *r.filterGroupId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.groupId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.groupId", t, "form", "multi")
		}
	}
	if r.filterEndpointId != nil {
		t := *r.filterEndpointId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.endpointId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.endpointId", t, "form", "multi")
		}
	}
	if r.filterServiceStatus != nil {
		t := *r.filterServiceStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.serviceStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.serviceStatus", t, "form", "multi")
		}
	}
	if r.filterConfigEndpointId != nil {
		t := *r.filterConfigEndpointId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.endpointId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.endpointId", t, "form", "multi")
		}
	}
	if r.filterConfigDeployStatus != nil {
		t := *r.filterConfigDeployStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployStatus", t, "form", "multi")
		}
	}
	if r.filterConfigDeployType != nil {
		t := *r.filterConfigDeployType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.config.deployType", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIUpdateEndpointInstanceConfigRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	endpointInstanceId int32
	endpointInstanceUpdate *EndpointInstanceUpdate
	ifMatch *string
}

// The Endpoint Instance configuration changes
func (r EndpointInstanceAPIUpdateEndpointInstanceConfigRequest) EndpointInstanceUpdate(endpointInstanceUpdate EndpointInstanceUpdate) EndpointInstanceAPIUpdateEndpointInstanceConfigRequest {
	r.endpointInstanceUpdate = &endpointInstanceUpdate
	return r
}

// Entity tag
func (r EndpointInstanceAPIUpdateEndpointInstanceConfigRequest) IfMatch(ifMatch string) EndpointInstanceAPIUpdateEndpointInstanceConfigRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r EndpointInstanceAPIUpdateEndpointInstanceConfigRequest) Execute() (*EndpointInstanceConfiguration, *http.Response, error) {
	return r.ApiService.UpdateEndpointInstanceConfigExecute(r)
}

/*
UpdateEndpointInstanceConfig Update Endpoint Instance configuration

Updates the specified Endpoint Instance configuration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param endpointInstanceId
 @return EndpointInstanceAPIUpdateEndpointInstanceConfigRequest
*/
func (a *EndpointInstanceAPIService) UpdateEndpointInstanceConfig(ctx context.Context, endpointInstanceId int32) EndpointInstanceAPIUpdateEndpointInstanceConfigRequest {
	return EndpointInstanceAPIUpdateEndpointInstanceConfigRequest{
		ApiService: a,
		ctx: ctx,
		endpointInstanceId: endpointInstanceId,
	}
}

// Execute executes the request
//  @return EndpointInstanceConfiguration
func (a *EndpointInstanceAPIService) UpdateEndpointInstanceConfigExecute(r EndpointInstanceAPIUpdateEndpointInstanceConfigRequest) (*EndpointInstanceConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EndpointInstanceConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.UpdateEndpointInstanceConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances/{endpointInstanceId}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"endpointInstanceId"+"}", url.PathEscape(parameterValueToString(r.endpointInstanceId, "endpointInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.endpointInstanceUpdate == nil {
		return localVarReturnValue, nil, reportError("endpointInstanceUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.endpointInstanceUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EndpointInstanceAPIUpdateEndpointInstanceMetaRequest struct {
	ctx context.Context
	ApiService *EndpointInstanceAPIService
	endpointInstanceId int32
	genericMeta *GenericMeta
}

// The Endpoint Instance meta information
func (r EndpointInstanceAPIUpdateEndpointInstanceMetaRequest) GenericMeta(genericMeta GenericMeta) EndpointInstanceAPIUpdateEndpointInstanceMetaRequest {
	r.genericMeta = &genericMeta
	return r
}

func (r EndpointInstanceAPIUpdateEndpointInstanceMetaRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateEndpointInstanceMetaExecute(r)
}

/*
UpdateEndpointInstanceMeta Update an Endpoint Instance meta information

Updates the specified Endpoint Instance meta information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param endpointInstanceId
 @return EndpointInstanceAPIUpdateEndpointInstanceMetaRequest
*/
func (a *EndpointInstanceAPIService) UpdateEndpointInstanceMeta(ctx context.Context, endpointInstanceId int32) EndpointInstanceAPIUpdateEndpointInstanceMetaRequest {
	return EndpointInstanceAPIUpdateEndpointInstanceMetaRequest{
		ApiService: a,
		ctx: ctx,
		endpointInstanceId: endpointInstanceId,
	}
}

// Execute executes the request
func (a *EndpointInstanceAPIService) UpdateEndpointInstanceMetaExecute(r EndpointInstanceAPIUpdateEndpointInstanceMetaRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointInstanceAPIService.UpdateEndpointInstanceMeta")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/endpoint-instances/{endpointInstanceId}/meta"
	localVarPath = strings.Replace(localVarPath, "{"+"endpointInstanceId"+"}", url.PathEscape(parameterValueToString(r.endpointInstanceId, "endpointInstanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.genericMeta == nil {
		return nil, reportError("genericMeta is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.genericMeta
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
