/*
MetalSoft REST API

MetalSoft REST API documentation

API version: 2.0
Contact: support@metalsoft.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// NetworkDeviceBGPConfigurationTemplateAPIService NetworkDeviceBGPConfigurationTemplateAPI service
type NetworkDeviceBGPConfigurationTemplateAPIService service

type NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPConfigurationTemplateAPIService
	createNetworkDeviceBGPConfigurationTemplate *CreateNetworkDeviceBGPConfigurationTemplate
}

// The Network Device BGP Configuration Template create object
func (r NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest) CreateNetworkDeviceBGPConfigurationTemplate(createNetworkDeviceBGPConfigurationTemplate CreateNetworkDeviceBGPConfigurationTemplate) NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest {
	r.createNetworkDeviceBGPConfigurationTemplate = &createNetworkDeviceBGPConfigurationTemplate
	return r
}

func (r NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	return r.ApiService.CreateNetworkDeviceBGPConfigurationTemplateExecute(r)
}

/*
CreateNetworkDeviceBGPConfigurationTemplate Creates a Network Device BGP Configuration Template

Creates a Network Device BGP Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) CreateNetworkDeviceBGPConfigurationTemplate(ctx context.Context) NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest {
	return NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPConfigurationTemplate
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) CreateNetworkDeviceBGPConfigurationTemplateExecute(r NetworkDeviceBGPConfigurationTemplateAPICreateNetworkDeviceBGPConfigurationTemplateRequest) (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPConfigurationTemplateAPIService.CreateNetworkDeviceBGPConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createNetworkDeviceBGPConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("createNetworkDeviceBGPConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkDeviceBGPConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPConfigurationTemplateAPIService
	networkDeviceBGPConfigurationTemplateId float32
}

func (r NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteNetworkDeviceBGPConfigurationTemplateExecute(r)
}

/*
DeleteNetworkDeviceBGPConfigurationTemplate Deletes a Network Device BGP Configuration Template

Deletes a Network Device BGP Configuration Template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceBGPConfigurationTemplateId
 @return NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) DeleteNetworkDeviceBGPConfigurationTemplate(ctx context.Context, networkDeviceBGPConfigurationTemplateId float32) NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest {
	return NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceBGPConfigurationTemplateId: networkDeviceBGPConfigurationTemplateId,
	}
}

// Execute executes the request
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) DeleteNetworkDeviceBGPConfigurationTemplateExecute(r NetworkDeviceBGPConfigurationTemplateAPIDeleteNetworkDeviceBGPConfigurationTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPConfigurationTemplateAPIService.DeleteNetworkDeviceBGPConfigurationTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-configuration-templates/{networkDeviceBGPConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceBGPConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceBGPConfigurationTemplateId, "networkDeviceBGPConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPConfigurationTemplateAPIService
	networkDeviceBGPConfigurationTemplateId float32
}

func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceBGPConfigurationTemplateExecute(r)
}

/*
GetNetworkDeviceBGPConfigurationTemplate Get Network Device BGP Configuration Template information

Returns Network Device BGP Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceBGPConfigurationTemplateId
 @return NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) GetNetworkDeviceBGPConfigurationTemplate(ctx context.Context, networkDeviceBGPConfigurationTemplateId float32) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest {
	return NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceBGPConfigurationTemplateId: networkDeviceBGPConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPConfigurationTemplate
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) GetNetworkDeviceBGPConfigurationTemplateExecute(r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplateRequest) (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPConfigurationTemplateAPIService.GetNetworkDeviceBGPConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-configuration-templates/{networkDeviceBGPConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceBGPConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceBGPConfigurationTemplateId, "networkDeviceBGPConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPConfigurationTemplateAPIService
	page *float32
	limit *float32
	filterId *[]string
	filterAction *[]string
	filterNetworkType *[]string
	filterNetworkDeviceDriver *[]string
	filterNetworkDevicePosition *[]string
	filterRemoteNetworkDevicePosition *[]string
	filterBgpNumbering *[]string
	filterBgpLinkConfiguration *[]string
	filterExecutionType *[]string
	filterLibraryLabel *[]string
	sortBy *[]string
	search *string
	searchBy *[]string
}

// Page number to retrieve. If you provide invalid value the default page number will applied  **Example:** 1   **Default Value:** 1  
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) Page(page float32) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.page = &page
	return r
}

// Number of records per page.   **Example:** 20    **Default Value:** 20    **Max Value:** 100   If provided value is greater than max value, max value will be applied. 
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) Limit(limit float32) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by id query param.  **Format:** filter.id&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.id&#x3D;$eq:John Doe&amp;filter.id&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterId(filterId []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterId = &filterId
	return r
}

// Filter by action query param.  **Format:** filter.action&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.action&#x3D;$eq:John Doe&amp;filter.action&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterAction(filterAction []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterAction = &filterAction
	return r
}

// Filter by networkType query param.  **Format:** filter.networkType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkType&#x3D;$eq:John Doe&amp;filter.networkType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterNetworkType(filterNetworkType []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterNetworkType = &filterNetworkType
	return r
}

// Filter by networkDeviceDriver query param.  **Format:** filter.networkDeviceDriver&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDeviceDriver&#x3D;$eq:John Doe&amp;filter.networkDeviceDriver&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterNetworkDeviceDriver(filterNetworkDeviceDriver []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterNetworkDeviceDriver = &filterNetworkDeviceDriver
	return r
}

// Filter by networkDevicePosition query param.  **Format:** filter.networkDevicePosition&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.networkDevicePosition&#x3D;$eq:John Doe&amp;filter.networkDevicePosition&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterNetworkDevicePosition(filterNetworkDevicePosition []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterNetworkDevicePosition = &filterNetworkDevicePosition
	return r
}

// Filter by remoteNetworkDevicePosition query param.  **Format:** filter.remoteNetworkDevicePosition&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.remoteNetworkDevicePosition&#x3D;$eq:John Doe&amp;filter.remoteNetworkDevicePosition&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterRemoteNetworkDevicePosition(filterRemoteNetworkDevicePosition []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterRemoteNetworkDevicePosition = &filterRemoteNetworkDevicePosition
	return r
}

// Filter by bgpNumbering query param.  **Format:** filter.bgpNumbering&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.bgpNumbering&#x3D;$eq:John Doe&amp;filter.bgpNumbering&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterBgpNumbering(filterBgpNumbering []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterBgpNumbering = &filterBgpNumbering
	return r
}

// Filter by bgpLinkConfiguration query param.  **Format:** filter.bgpLinkConfiguration&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.bgpLinkConfiguration&#x3D;$eq:John Doe&amp;filter.bgpLinkConfiguration&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterBgpLinkConfiguration(filterBgpLinkConfiguration []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterBgpLinkConfiguration = &filterBgpLinkConfiguration
	return r
}

// Filter by executionType query param.  **Format:** filter.executionType&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.executionType&#x3D;$eq:John Doe&amp;filter.executionType&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterExecutionType(filterExecutionType []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterExecutionType = &filterExecutionType
	return r
}

// Filter by libraryLabel query param.  **Format:** filter.libraryLabel&#x3D;{$not}:OPERATION:VALUE    **Example:** filter.libraryLabel&#x3D;$eq:John Doe&amp;filter.libraryLabel&#x3D;$in:John Doe  **Available Operations** - $eq  - $in  - $and  - $or
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) FilterLibraryLabel(filterLibraryLabel []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.filterLibraryLabel = &filterLibraryLabel
	return r
}

// Parameter to sort by. To sort by multiple fields, just provide query param multiple types. The order in url defines an order of sorting  **Format:** {fieldName}:{DIRECTION}   **Example:** sortBy&#x3D;id:DESC&amp;sortBy&#x3D;action:DESC   **Default Value:** id:DESC  **Available Fields** - id  - action  - networkType  - networkDeviceDriver  - networkDevicePosition  - remoteNetworkDevicePosition  - bgpNumbering  - bgpLinkConfiguration  - executionType  - libraryLabel 
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) SortBy(sortBy []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.sortBy = &sortBy
	return r
}

// Search term to filter result values  **Example:** John   **Default Value:** No default value  
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) Search(search string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.search = &search
	return r
}

// List of fields to search by term to filter result values  **Example:** id,action,networkType,networkDeviceDriver,networkDevicePosition   **Default Value:** By default all fields mentioned below will be used to search by term  **Available Fields** - id  - action  - networkType  - networkDeviceDriver  - networkDevicePosition  - remoteNetworkDevicePosition  - bgpNumbering  - bgpLinkConfiguration  - executionType  - libraryLabel 
func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) SearchBy(searchBy []string) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	r.searchBy = &searchBy
	return r
}

func (r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) Execute() (*NetworkDeviceBGPConfigurationTemplatePaginatedList, *http.Response, error) {
	return r.ApiService.GetNetworkDeviceBGPConfigurationTemplatesExecute(r)
}

/*
GetNetworkDeviceBGPConfigurationTemplates Get all Network Device BGP Configuration Templates

Returns list of all Network Device BGP Configuration Templates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest
*/
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) GetNetworkDeviceBGPConfigurationTemplates(ctx context.Context) NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest {
	return NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPConfigurationTemplatePaginatedList
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) GetNetworkDeviceBGPConfigurationTemplatesExecute(r NetworkDeviceBGPConfigurationTemplateAPIGetNetworkDeviceBGPConfigurationTemplatesRequest) (*NetworkDeviceBGPConfigurationTemplatePaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPConfigurationTemplatePaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPConfigurationTemplateAPIService.GetNetworkDeviceBGPConfigurationTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-configuration-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filterId != nil {
		t := *r.filterId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.id", t, "form", "multi")
		}
	}
	if r.filterAction != nil {
		t := *r.filterAction
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.action", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.action", t, "form", "multi")
		}
	}
	if r.filterNetworkType != nil {
		t := *r.filterNetworkType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkType", t, "form", "multi")
		}
	}
	if r.filterNetworkDeviceDriver != nil {
		t := *r.filterNetworkDeviceDriver
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDeviceDriver", t, "form", "multi")
		}
	}
	if r.filterNetworkDevicePosition != nil {
		t := *r.filterNetworkDevicePosition
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDevicePosition", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.networkDevicePosition", t, "form", "multi")
		}
	}
	if r.filterRemoteNetworkDevicePosition != nil {
		t := *r.filterRemoteNetworkDevicePosition
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.remoteNetworkDevicePosition", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.remoteNetworkDevicePosition", t, "form", "multi")
		}
	}
	if r.filterBgpNumbering != nil {
		t := *r.filterBgpNumbering
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpNumbering", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpNumbering", t, "form", "multi")
		}
	}
	if r.filterBgpLinkConfiguration != nil {
		t := *r.filterBgpLinkConfiguration
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpLinkConfiguration", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.bgpLinkConfiguration", t, "form", "multi")
		}
	}
	if r.filterExecutionType != nil {
		t := *r.filterExecutionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.executionType", t, "form", "multi")
		}
	}
	if r.filterLibraryLabel != nil {
		t := *r.filterLibraryLabel
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.libraryLabel", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		t := *r.sortBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.searchBy != nil {
		t := *r.searchBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchBy", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest struct {
	ctx context.Context
	ApiService *NetworkDeviceBGPConfigurationTemplateAPIService
	networkDeviceBGPConfigurationTemplateId float32
	updateNetworkDeviceBGPConfigurationTemplate *UpdateNetworkDeviceBGPConfigurationTemplate
}

// The Network Device BGP Configuration Template update object
func (r NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest) UpdateNetworkDeviceBGPConfigurationTemplate(updateNetworkDeviceBGPConfigurationTemplate UpdateNetworkDeviceBGPConfigurationTemplate) NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest {
	r.updateNetworkDeviceBGPConfigurationTemplate = &updateNetworkDeviceBGPConfigurationTemplate
	return r
}

func (r NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest) Execute() (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	return r.ApiService.UpdateNetworkDeviceBGPConfigurationTemplateExecute(r)
}

/*
UpdateNetworkDeviceBGPConfigurationTemplate Updates Network Device BGP Configuration Template information

Updates Network Device BGP Configuration Template information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkDeviceBGPConfigurationTemplateId
 @return NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest
*/
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) UpdateNetworkDeviceBGPConfigurationTemplate(ctx context.Context, networkDeviceBGPConfigurationTemplateId float32) NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest {
	return NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest{
		ApiService: a,
		ctx: ctx,
		networkDeviceBGPConfigurationTemplateId: networkDeviceBGPConfigurationTemplateId,
	}
}

// Execute executes the request
//  @return NetworkDeviceBGPConfigurationTemplate
func (a *NetworkDeviceBGPConfigurationTemplateAPIService) UpdateNetworkDeviceBGPConfigurationTemplateExecute(r NetworkDeviceBGPConfigurationTemplateAPIUpdateNetworkDeviceBGPConfigurationTemplateRequest) (*NetworkDeviceBGPConfigurationTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NetworkDeviceBGPConfigurationTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkDeviceBGPConfigurationTemplateAPIService.UpdateNetworkDeviceBGPConfigurationTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/network-device-bgp-configuration-templates/{networkDeviceBGPConfigurationTemplateId}"
	localVarPath = strings.Replace(localVarPath, "{"+"networkDeviceBGPConfigurationTemplateId"+"}", url.PathEscape(parameterValueToString(r.networkDeviceBGPConfigurationTemplateId, "networkDeviceBGPConfigurationTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateNetworkDeviceBGPConfigurationTemplate == nil {
		return localVarReturnValue, nil, reportError("updateNetworkDeviceBGPConfigurationTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateNetworkDeviceBGPConfigurationTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
